/* header */
.site-nav {
    background-color: #3a4955;
    color: #FFFFFF;
}

.site-nav a{
    color: #FFFFFF;
}

.site-nav .navbar-brand:hover,
.site-nav .navbar-brand:focus,
.site-nav .navbar-brand:active {
    background-color: transparent;
}

.site-nav .navbar-brand img {
    width: 181px;
    height: 70px;
}

.site-nav .navbar-toggler{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem;
}

.site-nav .navbar-toggler:hover, .site-nav .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
}


.site-nav .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 1em;
    height: 1em;
}

/* nav */
@media (min-width: 992px){
    .site-nav .navbar-nav {
        justify-content: flex-end;
        width: 100%;
    }
}

.site-nav .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.site-nav .navbar-nav .nav-link:hover {
    color: #4CCD8C;
}

@media (min-width: 992px){
    .site-nav .navbar-nav .nav-link {
        margin-right: 1.5rem;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
}


/* footer */
.footer-content {
    background-color: #3a4955;
    color: #FFFFFF;
}

.footer-content .footer-logo {
    width: 77px;
    height: 60px;
}

.footer-content a {
    color: #FFFFFF;
}

.footer-content p {font-size: 1rem;}

.footer-content i {font-size: 1.5rem;}

.footer-content a:hover {
    color: #4CCD8C;
}

/* misc */
.calder-page-header {
    padding: 1.25rem 0;
    background-color: #fbf8f8;
}

.calder-page-header h1 {
    margin-bottom: 0;
}

.calder-page-header .hr-panel,
.guide-header .hr-panel {
    margin-bottom: 0;
    border-top: 3px solid #2c8154;
}

.printer_tabs,
.printer_no_tabs {
    top: 1rem;
}

.printer_tabs i,
.printer_no_tabs i {
    color: #2c8154;
}

.btn-default {
    color: #fff;
    background-color: #2c8154;
    border-color: #2c8154;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.popular-list a.btn-default:hover,
.popular-list a.btn-default:focus{
    color: #fff;
    background-color: #16683c;
    border-color: #16683c;
    box-shadow: 0 0 1px 1px #ced4da;
}

.img-accent {
    background-color: #2c8154;
}

a.default:hover,
a.default:focus {
    color: #2c8154;
}

.popular-list a:hover,
.popular-list a:focus {
    color: #2c8154;
    background-color: transparent;
}

.guide-listing i {
    color: #2c8154;
}

.feature,
.feature-light {
    background-color: #fbf8f8;
}

/* guide */
.guide-header {
    background-color: #fbf8f8;
}

.guide-header a.default:hover,
.guide-header a.default:focus {
    color: #2c8154;
}

#tabs #tab-container .ui-tabs-nav li.ui-tabs-active.ui-state-active a{
    background-color: #2c8154;
}

#tabs #tab-container .ui-tabs-nav li a:hover {
    color: #2c8154;
}

.pills-container .nav-pills .nav-link.active {
    background-color: #2c8154;
}

#backtotop a,
#backtotop a:hover,
#backtotop a:active,
#backtotop a:focus {
    color: #2c8154;
}

/* search */
.default-search {
    max-width: 600px;
}
@media (min-width: 576px) {
    .default-search {
        display: inline-block;
    }}


.default-search .index-search-area .ui-helper-hidden-accessible {
    display: none; }
.default-search .index-search-area .index-search-dd {
    width: calc(100% - 58px);
    border: 1px solid #d5d5d5;
    padding: 8px 0 8px 15px;
    outline: none;
    font-style: italic; }
@media (min-width: 576px) {
    .default-search .index-search-area .index-search-dd {
        width: 457px;
    }}
.default-search .index-search-area .index-search-dd::-webkit-input-placeholder {
    padding-left: 0; }
.default-search .index-search-area .index-search-dd::-moz-placeholder {
    padding-left: 0; }
.default-search .index-search-area .index-search-dd:-ms-input-placeholder {
    padding-left: 0; }
.default-search .index-search-area .index-search-dd::-ms-input-placeholder {
    padding-left: 0; }
.default-search .index-search-area .index-search-dd::placeholder {
    padding-left: 0; }
.default-search .index-search-area .btn-small {
    border: none;
    border-radius: 0.2rem; }
@media (min-width: 768px) {
    .default-search .index-search-area .btn-small {
        margin-right: 5px; } }

#topsearch_button {
    padding: 8px 16px;
    border: 1px solid #2c8154;
    background-color: #2c8154;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 0;
    line-height: 1.5;
}

#topsearch_button:hover,
#topsearch_button:focus,
#topsearch_button:active {
    color: #FFFFFF;
    background-color: #16683c;
    border-color: #16683c;
    box-shadow: 0 0 1px 1px #ced4da;
}

.ui-autocomplete.ui-menu {
    padding: .5rem;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    width: calc(100% - 88px) !important; }
@media (min-width: 576px) {
    .ui-autocomplete.ui-menu {
     width: 457px !important;   } }

.ui-autocomplete.ui-menu li {
    padding-bottom: .25rem;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: .5rem; }
.ui-autocomplete.ui-menu li:last-child {
    border-bottom: none;
    margin-bottom: 0; }
.ui-autocomplete.ui-menu li:first-child {
    border-bottom: 0; }
.ui-autocomplete.ui-menu li a {
    display: block; }
.ui-autocomplete.ui-menu li a:hover, .ui-autocomplete.ui-menu li a:active, .ui-autocomplete.ui-menu li a:focus {
    text-decoration: none; }
.ui-autocomplete.ui-menu .ui-autocomplete-category {
    font-weight: 600;
    font-style: italic;
    padding-bottom: .25rem;
    border-bottom: 1px solid #ced4da;
    margin-bottom: .5rem; }
.ui-autocomplete.ui-menu .ui-menu-item a:hover {
    background-color: #dee2e6; }
.ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus {
    border: none;
    background: none #dee2e6 no-repeat;
    color: #333333; }

/* Databases */
span[id*=bib-] i {
    color: #2c8154;
}

#letterhead span,
#letterhead a {
    background-color: #e9ecef;
}

#letterhead #selected_letter {
    color: #fff;
    background-color: #2c8154;
}

#letterhead a:hover,
#letterhead a:focus {
    background-color: #e9ecef;
    color: #2c8154;
}

#letterhead .bootstrap-select a:hover,
#letterhead .bootstrap-select a:focus,
#letterhead .bootstrap-select a:active,
#letterhead .bootstrap-select span:hover,
#letterhead .bootstrap-select span:focus,
#letterhead .bootstrap-select span:active {
    color: #2c8154;
}

.btn-select-db {
    border-radius: 0;
    line-height: 1.2;
    padding: 0.35rem 1rem .25rem 1rem;
    background-color: #e9ecef;
    box-shadow: 0 0 1px 1px #ced4da;
    font-weight: 600;
    font-size: 1rem;
    white-space: normal;
    height: 36px;
    color: #333333; }
.btn-select-db:focus {
    box-shadow: none; }
.btn-select-db.dropdown-toggle:after {
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent; }
.btn-select-db.dropdown-toggle.bs-placeholder {
    color: #333333;
    font-weight: 600; }
.btn-select-db.dropdown-toggle.bs-placeholder:hover, .btn-select-db.dropdown-toggle.bs-placeholder:focus, .btn-select-db.dropdown-toggle.bs-placeholder:active {
    color: #2c8154; }

.calder-autocomplete-dd {
    position:absolute;
    top: 215px;
    left: 16px;
}
@media (min-width: 576px) {
    .calder-autocomplete-dd {
        top: 222px;
        left: calc(50% - 257px);
    }
}

/* Staff */
.other-staff tr.oddrow td {
    background-color:#f5f5f5;
}

.staff-by-dept td,
.staff-by-dept th,
.other-staff td,
.other-staff th {
    padding: 0.125rem 0.5rem;
}

@media (min-width: 768px) {
    .staff-by-dept td,
    .staff-by-dept th,
    .other-staff td,
    .other-staff th {
        padding: 0.75rem 0.5rem;
    }
}

.staff-by-dept thead {
    display:none;
}

.staff-by-dept .dept_header{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.staff-by-dept .staffpic img,
.other-staff .staffpic img,
.librarians-az .staffpic img,
.staff-profile .staff_photo img {
    background-color: #2c8154;
}

