<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRecordToken" aria-labelledby="offcanvasRecordTokenLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasRecordTokenLabel">Add a Record</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="record-search-container"></div>
        {{ encore_entry_script_tags('record_search') }}
    </div>
</div>