<h4 class="text-center mt-5">- {{ 'public.new_guides.label' | trans }} -</h4>
<ul class="list-unstyled fs-sm">
    {# TODO: Add loop for new guides, limit to 5 recent entries #}
    <li class="mb-1"><a href="#" class="link-default">Guide 1</a></li>
    <li class="mb-1"><a href="#" class="link-default">Guide 2</a></li>
</ul>