<nav class="navbar navbar-light">
    <a class="navbar-brand" href="/control">
    <!-- TODO add a good alt text for the logo -->
        <img src="{{ asset('build/assets/images/admin/logo_v3_full.png') }}" alt="logo" class="d-inline-block d-lg-block">
    </a>

</nav>

