<div class="section section-half">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2">
                <form action="{{action}}" method="post" class="mt-5" id="sp_admin_search">
                    <div class="input-group">
                        <div id="my-autocomplete-container"></div>
                        <input type="submit" value="Go"  class="btn btn-primary" id="topsearch_button" name="submitsearch" />
                    </div>
                    <label for="my-autocomplete" class="visually-hidden">{{ label | trans }}</label>
                </form>
            </div>
        </div>
    </div>
</div>
