[submodule "subjects/themes/um-new"]
	path = subjects/themes/um-new
	url = https://umlwadteam@bitbucket.org/umiamiwet/um-new.git
[submodule "subjects/themes/med"]
	path = subjects/themes/med
	url = https://umlwadteam@bitbucket.org/umiamiwet/med.git
