[submodule "subjects/themes/um-new"]
	path = subjects/themes/um-new
	url = git@bitbucket.org:umiamiwet/um-new.git
[submodule "subjects/themes/med"]
	path = subjects/themes/med
	url = git@bitbucket.org:umiamiwet/med.git
[submodule "subjects/themes/calder-new"]
	path = subjects/themes/calder-new
	url = git@bitbucket.org:umiamiwet/calder.git