{% extends 'frontend/base.html.twig' %}

{% block metatitle %}{{ 'control.header.faqs.show_faq' | trans }} {{ faq.faqId }}{% endblock %}

{% block main %}
<p>Question: {{ faq.question }}</p>
<p>Answer:</p>
<p>{{ faq.answer | update_tokens_from_html | raw }}</p>
{% endblock %}