<form method="post" action="{{ path('backend_title_delete', {'titleId': title.titleId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ title.titleId) }}">
    <button class="btn">Delete</button>
</form>
