{% extends 'frontend/base.html.twig' %}

{% block metatitle %}Databases{% endblock %}

{% block body %}
<h1>Default Theme</h1>

<h2>Browse</h2>

{% include 'frontend/database/_alpha_list.html.twig' %}

{% include 'frontend/database/_ctags.html.twig' %}

{% include 'frontend/database/_dbs_by_letter.html.twig' %}

{% include 'frontend/database/_new_dbs.html.twig' %}

{% include 'frontend/database/_trial_dbs.html.twig' %}


{% endblock %}
