<!-- changing to https -->
<form id="head_search" name="head_search" action="https://library.miami.edu/" method="GET">
	<div id="search_container">
		<fieldset style="" id="searchzone">
			<input type="text" name="s" id="searchy" autocomplete="off">
			<input type="submit" value="Search" id="topsearch_button2" name="submit" alt="Search"> 
			
			<input type="hidden" name="searchtype" value="X">

			<input type="hidden" name="CISOOP1" value="all"> 
			<input type="hidden" name="CISOFIELD1" value="CISOSEARCHALL"> 
			<input type="hidden" id="cdmsearch"  name="CISOBOX1" value=""> 
			<input type="hidden" name="CISOROOT" value="all">


			<!-- Customizable Parameters Primo Catalog-->
            <input type="hidden" name="institution" value="01UOML">
            <input type="hidden" name="vid" value="uml">            
            <input type="hidden" name="mode" value="Basic">

            <input type="hidden" name="tab" value="default_tab" id="tab">
            <input type="hidden" name="search_scope" value="Everything" id="search_scope">

            <!-- Fixed parameters -->
            <input type="hidden" name="displayMode" value="full">
            <input type="hidden" name="bulkSize" value="10">
            <input type="hidden" name="highlight" value="true">
            <input type="hidden" name="dum" value="true">
            <input type="hidden" name="query" id="primoQueryCatalog">
            <input type="hidden" name="displayField" value="all">


		</fieldset>

		<fieldset id="search_options" style="opacity: 1; display: none;">
			<ul>
				<li class="active"><input type="radio" class="search_type"
					name="search_selection" value="website" checked="checked">website</li>
				<li><input type="radio" class="search_type"
					name="search_selection" value="catalog_keyword">catalog</li>
				<li><input type="radio" class="search_type"
					name="search_selection" value="article">uSearch</li>
				<li style="border: none;"><input type="radio"
					class="search_type" name="search_selection" value="digital">digital
					collections</li>
			</ul>
		</fieldset>
	</div>
</form>
<script type="text/javascript">
	function searchTypeChange() {

		$('#searchy').bind('input', function() {
			var search_value = $(this).val();

			//$('#searcharg').attr("value", $(this).val());			
			//$('#summonsearch').attr("value", $(this).val());
			$('#cdmsearch').attr("value", $(this).val());

		});

		$("#search_options li").click(function() {
			$("#search_options li").removeClass("active");
			$(this).children().attr('checked', 'checked');
			$(this).addClass("active");
				
			console.log($(this).children().first());
			searchTypeChangeClick($(this).children().first());
		});

		$('.search_type').on('change', function() {
			searchTypeChangeClick($(this));
		});

	}

	function searchTypeChangeClick(element) {

		var search = $('#searchy').val();
		if (element.attr('value') === 'website') {
			$('#head_search').attr("action", "https://library.miami.edu/");

		}

		if (element.attr('value') === 'catalog_keyword') {

			$('#head_search').attr("action", "https://miami-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do");
			$('#head_search').attr("onsubmit", "searchPrimoCatalog()");

			$('#tab').attr("value", "default_tab");		
			$('#topsearch_button2').attr("onclick", "searchPrimoCatalog()");			
			
		}

		if (element.attr('value') === 'article') {

			$('#head_search').attr("action", "https://miami-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do");
			$('#head_search').attr("onsubmit", "searchPrimoCatalog()");
			
			$('#tab').attr("value", "everything");
			$('#search_scope').attr("value", "Everything");
			$('#topsearch_button2').attr("onclick", "searchPrimoCatalog()");

		}

		if (element.attr('value') === 'digital') {

			$('#head_search').attr("action", "https://merrick.library.miami.edu/cdm4/results.php");
			$('#cdmsearch').attr("value", search);

		}

	}


	function searchPrimoCatalog() {
      	  document.getElementById("primoQueryCatalog").value = "any,contains," + document.getElementById("searchy").value.replace(/[,]/g, " ");
          document.forms["head_search"].submit();
        } 

	    

	$(document).ready(function() {
		searchTypeChange();
	});
</script>
