<button type="button" class="btn btn-icon-default p-0 mt-1 fs-5" data-bs-toggle="modal" data-bs-target="#confirmDeleteMedia" title="{{ 'control.media_upload.delete_media.label' | trans }}">
    <i class="fas fa-trash"></i>
</button>