{% extends 'backend/base.html.twig' %}

{% block title %}Add Details To Upload{% endblock %}

{% block content %}
    {% for error in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('backend/media/_form.html.twig') }} 
{% endblock %}
