<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasMediaToken" aria-labelledby="offcanvasMediaTokenLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasMediaTokenLabel">{{ 'control.flyout.add_media_token.heading' | trans }}</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'close.aria.label' | trans }}"></button>
    </div>
    <div class="offcanvas-body">
        <div id="media-browser-container"></div>
        <script>
            const CURRENT_STAFF_ID = "{{ app.user.staffId }}";
        </script>
        {{ encore_entry_script_tags('media_browser_loader') }}
    </div>
</div>