{% extends 'frontend/base.html.twig' %}

{% block metatitle %}FAQ{% endblock %}

{% block main %}
<h1>UM Theme</h1>
<p>Question: {{ faq.question }}</p>
<p>Answer:</p>
<p>{{ faq.answer | raw }}</p>
{% endblock %}