{% extends 'frontend/base.html.twig' %}

{% block metatitle %}Research Guides{% endblock %}

{% block main %}

<h1>Subjects</h1>
<div>
<ul>
{% for subject in subjects %}
<li><a href="{{ path('subject_show', {'shortform':  subject.shortform  } ) }}">{{subject.subject }}</a></li>
{% endfor %}
</ul>
</div>

{% endblock %}
