{% extends 'patron/base.html.twig' %}

{% block title %}{{'Database list' | trans}}{% endblock %}

{% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('patron_database_list') }}
{% endblock %}

{% block body %}

{% include 'patron/shared/searchbar.html.twig' with {'action': '/subjects/databases.php', 'label': 'Find databases'} %}

<div class="mt-3">
    {{ letters | raw }}
</div>


<div class="row mt-5">
    <div class="col-lg-8">
    <table class="table table-striped">
        {% for result in results %}
            {% include 'patron/databases/database_row.html.twig' %}
        {% endfor %}
    </table>
    </div>
    <div class="col-lg-4">
        <div class="feature-light popular-list p-3 mt-3">
            {% include 'patron/shared/new_databases.html.twig' %}
            {% include 'patron/databases/trial_databases.html.twig' %}
        </div>
    </div>
</div>


{% endblock %}
