{% extends 'base.html.twig' %}

{% block title %}{{'Database list' | trans}}{% endblock %}

{% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('patron_database_list') }}
{% endblock %}

{% block body %}

{% include 'patron/shared/searchbar.html.twig' with {'action': '/subjects/databases.php', 'label': 'Find databases'} %}



<div class="container">
    <div class="row">
        <div class="col-lg-8">
        </div>
        <div class="col-lg-4">
            <div class="feature-light popular-list p-3 mt-3">
                {% include 'patron/shared/new_databases.html.twig' %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
