{% extends 'staff/base.html.twig' %}

{% block title %}Edit Staff{% endblock %}

{% block body %}
    <h1>Edit Staff</h1>

    {{ include('staff/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('staff_index') }}">back to list</a>

    {{ include('staff/_delete_form.html.twig') }}
{% endblock %}
