#special-course-codes-list {
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    display: block;
}

#special-course-codes-list li {
    background: #f6e3e7;
    margin: 0 0 2px 0;
    padding: 5px;
}

#special-course-codes-list li:nth-child(odd) {
    background: transparent;
}

#special-course-codes-list a[class^="delete-special"] {
    float: right;
}

#special-course-codes-list i {
    margin: 0 8px 0 0;
}


