{% extends 'staff/base.html.twig' %}

{% block title %}Edit FAQ{% endblock %}

{% block body %}
    <h1>Edit FAQ</h1>

    {{ include('faq/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('faq_index') }}">back to list</a>

    {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
