<div class="dropdown action-dropdown text-end">
    <button class="btn btn-gradient btn-pill-icon dropdown-toggle" type="button" id="dropdownQuickLinks" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-plus-circle"></i> {{ 'control.dashboard.create_new_button' | trans }}
    </button>
    <ul class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="dropdownQuickLinks">
        <li><a class="dropdown-item" href="/control/guides/new">{{ 'control.dashboard.create_new_guide' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/record">{{ 'control.dashboard.create_new_record' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/faq/new">{{ 'control.dashboard.create_new_faq' | trans }}</a></li>
        {# TODO: Conditional - show menu options is user is Admin  #}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item admin-menu-item" href="#">User</a></li>
    </ul>
</div>