<h2 class="d-inline-block mt-4">{{ 'control.dashboard.faqs_heading' | trans  }}</h2> <a href="/control/faq/" class="btn-link fs-sm">{{ 'control.dashboard.see_all_faqs' | trans  }}</a>
{# TODO: Dynamically list user's 5 recent faqs #}
<ul class="list-unstyled list-space fs-sm">
    <li><a href="#" class="link-default">How do I reserve a study room or equipment in Richter Library?</a></li>
    <li><a href="#" class="link-default">Can I renew my items online?</a></li>
    <li><a href="#" class="link-default">How do I find an E-journal?</a></li>
    <li><a href="#" class="link-default">How do you calculate printing cost?</a></li>
    <li><a href="#" class="link-default">How do I reserve a study room at Weeks Music Library?</a></li>
</ul>