{# TODO: Dynamically list user's 5 recent records #}
<h2 class="d-inline-block">{{ 'control.dashboard.records_heading' | trans  }}</h2> <a href="/control/record/" class="btn-link fs-sm">{{ 'control.dashboard.see_all_records' | trans  }}</a>
<ul class="list-unstyled list-space">
    <li><a href="#" class="link-default">Wordle (NY Times)</a></li>
    <li><a href="#" class="link-default">Smashing Magazine</a></li>
    <li><a href="#" class="link-default">CSS Tricks</a></li>
    <li><a href="#" class="link-default">React JSX</a></li>
    <li><a href="#" class="link-default">Symfony Docs</a></li>
</ul>