{# TODO: Dynamically list user's 5 recent records #}
<h2 class="d-inline-block">{{ 'control.dashboard.records_heading' | trans  }}</h2> <a href="/control/record/" class="btn-link fs-sm">{{ 'control.dashboard.see_all_records' | trans  }}</a>
<ul class="list-unstyled list-space">
    <li><a href="#" class="link-default">ERIC(EBSCO)</a></li>
    <li><a href="#" class="link-default">JSTOR</a></li>
    <li><a href="#" class="link-default">African-American Sheet Music</a></li>
    <li><a href="#" class="link-default">Biblioteca Digital Nacional de Cuba</a></li>
    <li><a href="#" class="link-default">Baseball Sheet Music</a></li>
</ul>