<h4 class="mt-4 text-center">{{ 'New Guides' | trans }}</h4>

<ul>
{% for guide in newestGuides %}
<li><a href="{{ path('guidebyShortname', {shortform: guide.shortform}) }}">{{ guide.subject }}</a></li>
{% endfor %}
</ul>