{% extends 'base.html.twig' %}

{% block title %}{% block browser_title %}{% endblock %} | SubjectsPlus{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('backend_main') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('backend_main') }}
    {{ encore_entry_script_tags('mode_switcher') }}
{% endblock %}

{% block body %}
    {% include('backend/includes/mode-detector-script.html.twig') %}
    <main>
    {% block header %}
        {% include('backend/includes/header.html.twig') %}
    {% endblock %}
    {% block search %}
        {% include('backend/includes/search-all.html.twig') %}
    {% endblock %}
    {% block main %}
        <div class="container py-5">
            {% block flash_messages %}
                {% include('backend/includes/flash_messages.html.twig') %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
    </main>
{% endblock %}

{% block footer %}
    {% include('backend/includes/footer.html.twig') %}
{% endblock %}