{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend-main') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('backend-main') }}
    {% endblock %}
{% endblock %}

{% block body %}
    <main>
    {% block header %}
        {% include('backend/includes/header.html.twig') %}
    {% endblock %}
    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
    </main>
{% endblock %}

{% block footer %}
    {% include('backend/includes/footer.html.twig') %}
{% endblock %}