<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('staff') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('staff') }}
            {{ encore_entry_script_tags('rep_log_react') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
          {% include('backend/shared/header.html.twig') %}
        {% endblock %}
        <div class="container">
          {% block body %}{% endblock %}
        </div>
    </body>
</html>
