<li class="nav-item mb-3 mb-lg-0 dropdown has-megamenu">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="fas fa-chevron-circle-down d-lg-none"></i> Find & Read</a>
    <div class="dropdown-menu megamenu" role="menu">
        <div class="container-lg py-lg-4">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h5>Books</h5>
                    <hr align="left" class="hr-decoration">
                    <ul class="list-unstyled">
                        <li><a class="cta" href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/search?&tab=default_tab&search_scope=default_scope&vid=uml_new&offset=0">uSearch Library Catalog <i class="fas fa-chevron-right d-none d-lg-inline-block"></i></a></li>
                        <li><a href="https://www.library.miami.edu/spaces/floor-maps.html">Floor Maps (Richter)</a></li>
                        <li><a href="https://uofmiami.overdrive.com/">Overdrive E-Books & Audiobooks</a></li>
                        <li><a href="https://www.library.miami.edu/specialcollections/index.html">Rare Books (Special Collections)</a></li>
                        <li><a href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=uml_new">Renew your Books (My Account)</a></li>
                        <li><a href="https://www.library.miami.edu/find/request-materials.html">Request Materials</a></li>
                    </ul>

                    <h5>Articles</h5>
                    <hr align="left" class="hr-decoration">
                    <ul class="list-unstyled">
                        <li><a class="cta" href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/search?&tab=everything&search_scope=Everything&vid=uml_new&offset=0">uSearch Articles <i class="fas fa-chevron-right d-none d-lg-inline-block"></i></a></li>
                        <li><a href="https://sp.library.miami.edu/subjects/databases.php">Databases A-Z</a></li>
                        <li><a href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/jsearch?vid=uml_new&lang=en_US">eJournals</a></li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4">
                    <h5>Music & Film</h5>
                    <hr align="left" class="hr-decoration">
                    <ul class="list-unstyled">
                        <li><a class="cta" href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/search?&tab=default_tab&search_scope=default_scope&vid=uml_new&offset=0">uSearch Library Catalog <i class="fas fa-chevron-right d-none d-lg-inline-block"></i></a></li>
                        <li><a href="https://www.library.miami.edu/musiclib/index.html">Music Library</a></li>
                        <li><a href="https://sp.library.miami.edu/subjects/musicscores">Score Browsing Guide</a></li>
                        <li><a href="https://www.library.miami.edu/musiclib/streamingaudioreserves.html">Streaming Music</a></li>
                        <li><a href="https://sp.library.miami.edu/subjects/databases.php?letter=bytype&type=Video">Streaming Video</a></li>
                    </ul>

                    <h5>Archives & Images</h5>
                    <hr align="left" class="hr-decoration">
                    <ul class="list-unstyled">
                        <li><a class="cta" href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/search?&tab=digital_collections&search_scope=Digital_Collections&vid=uml_new&offset=0">uSearch Digital Collections <i class="fas fa-chevron-right d-none d-lg-inline-block"></i></a></li>
                        <li><a href="https://atom.library.miami.edu/">Archival Finding Aids</a></li>
                        <li><a href="https://www.library.miami.edu/chc/index.html">Cuban Heritage Collection</a></li>
                        <li><a href="https://digitalcollections.library.miami.edu/">Digital Collections</a></li>
                        <li><a href="https://www.library.miami.edu/specialcollections/index.html">Special Collections</a></li>
                        <li><a href="https://www.library.miami.edu/universityarchives/index.html">University Archives</a></li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4">
                    <h5>Non-Book Materials</h5>
                    <hr align="left" class="hr-decoration">
                    <ul class="list-unstyled">
                        <li><a href="https://emuseum1.as.miami.edu/collections">Lowe Art Museum Collection</a></li>
                        <li><a href="https://www.library.miami.edu/find/games-maps.html">Maps, Games & more</a></li>
                        <li><a href="https://sp.library.miami.edu/subjects/Newspapers">Newspaper Subscriptions</a></li>
                    </ul>

                    <h5>Related Resources</h5>
                    <hr align="left" class="hr-decoration">
                    <ul class="list-unstyled">
                        <li><a class="cta" href="https://www.library.miami.edu/online-services">Online Services <i class="fas fa-chevron-right d-none d-lg-inline-block"></i></a></li>
                        <li><a href="https://www.library.miami.edu/find/borrowing.html">Access & Borrowing Policies</a></li>
                        <li><a href="https://www.library.miami.edu/find/course-reserves.html">Course Reserves</a></li>
                        <li><a href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=uml_new">Featured Lists</a></li>
                        <li><a href="https://triton.library.miami.edu/">Interlibrary Loan (ILL)</a></li>
                        <li><a href="https://www.library.miami.edu/suggest-a-purchase/">Recommend a Purchase</a></li>
                        <li><a href="https://scholarship.miami.edu/esploro/">Scholarship@Miami </a></li>
                        <li><a href="https://www.library.miami.edu/research/copyright.html">Understanding Copyright</a></li>
                        <li><a href="https://sp.library.miami.edu/subjects/guide.php?subject=U2">uSearch Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-close d-none d-lg-block">
                <div class="close-mm" title="Close"></div>
            </div>
        </div>
    </div>
</li>