<li class="nav-item mb-3 mb-lg-0 dropdown has-megamenu">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="fas fa-chevron-circle-down d-lg-none"></i> Libraries & Collections</a>
    <div class="dropdown-menu megamenu" role="menu">
        <div class="container-lg py-lg-4">
            Content 5
            <a href="#">link</a>
        </div>
    </div>
</li>