/* 
    Document   : flocking
    Created on : 13-Mar-2011, 1:26:39 PM
    Author     : agdarby
    Description: one of the backgrounds for sp control
*/

body {background: url(../../images/admin/bg_tile.gif) repeat;}

