########################################
# Full List of Constraints: https://symfony.com/doc/current/reference/constraints.html
# Follow the YAML examples for applying a specific constraint.
# 
# NOTES
# Omitting the "groups" field will keep the constraint apart of the default group.
# How to apply validation groups: https://symfony.com/doc/current/form/validation_groups.html
#
# FORMAT
# App\Entity\[EntityName]:
#   constraints:
#     - [Constraint]:
#          fields: [ [EntityPropertyName], ... ]
#          message: "[ErrorMessage]"
#          groups: [ [GroupName] ]
#   properties:
#     [EntityPropertyName]:
#       - [Constraint]:
#            message: "[ErrorMessage]"
#            groups: [ [GroupName] ]
#
########################################

App\Entity\Media:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: 
            fields: [fileName]
            message: 'media.constraints.file_name.unique_entity'
            groups: ['Default', 'image', 'generic']
    properties:
        file:
            - Image:
                mimeTypes: ['image/png']
                groups: ['image']
            - File:
                # do not include images for generic, use image group
                mimeTypes: ['application/*', 'audio/*', 'text/*']
                groups: ['generic']
        fileName:
          - NotNull: 
              message: 'media.file_name.not_null'
        