# Pretty URLs -- Uncomment to use

#RewriteEngine on
#RewriteBase /subjectsplus/subjects/
#RewriteRule ^staff/([^/\.]+)/?$ staff_details.php?name=$1 [L]
#RewriteRule ^([^/\.]+)/?$ guide.php?subject=$1 [L]
#RewriteRule ^([^/\.]+)/([^/\.]+)/?$ guide.php?subject=$1&source=$2 [L]