<div class="px-2">
    <div class="card">
        <div class="card-header bg-primary text-white">
            {{ pluslet.title }}
         </div>
        <div class="card-body">
            {{ pluslet.body | raw }}
        </div>
    </div>
</div>
