<div class="form">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-gradient btn-round">{{ button_label|default('Save Guide') }}</button>
    {{ form_end(form) }}
</div>
