<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasGuideDetails" aria-labelledby="offcanvasGuideDetailsLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasGuideDetailsLabel">Edit Guide Metadata</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'close.aria.label' | trans }}"></button>
    </div>
    <div class="offcanvas-body">
        {# TODO: Form for offcanvas guide details #}
        <div id="guide-metadata-container"></div>
    </div>
    {{ encore_entry_script_tags('guide_metadata_loader') }}
</div>