<div class="row g-2">
    <div class="col-sm-7 col-xl-4">
        {# TODO: React autocomplete search #}
        <form>
            <div class="mb-3 mb-sm-0">
                <input type="text" class="form-control" placeholder="{{ 'control.guides.search.placeholder' | trans }}" aria-label="{{ 'control.header.search.aria.label' | trans }}">
            </div>
        </form>
    </div>
    <div class="col-sm-5 col-xl-4 align-self-sm-end text-sm-end">
        {# TODO: Change between User's Guides and All Guides #}
        <div class="btn-group btn-group-sm" role="group" aria-label="Toggle for My Guides and All Guides">
            <input type="radio" class="btn-check" name="guidesToggle" id="myGuides" autocomplete="off" checked>
            <label class="btn btn-outline-primary fs-xs" for="myGuides">My Guides</label>

            <input type="radio" class="btn-check" name="guidesToggle" id="allGuides" autocomplete="off">
            <label class="btn btn-outline-primary fs-xs" for="allGuides">All Guides</label>
        </div>

    </div>
</div>