{% extends 'backend/base.html.twig' %}

{% block title %}Guides index{% endblock %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    
    <h1>Guide Builder</h1>
    
    <div id="guide-builder-container"></div>
    {{ encore_entry_script_tags('guide_builder') }}
    

{% endblock %}