/* /////////
 // guide.css
 // used for the styling of the admin view of the guides
 // called from guide folder
 ///////// */
#maincontent {
    
    margin-top:2%;
}

.ui-widget {
    
    font-family:inherit;
    
}
.ui-widget-content {
  background:0;
  border:0;
}
.ui-corner-all {
    
    border-radius:0px;
}
.ui-corner-top {
    border-radius:0px;
}

.ui-corner-bottom {
    border-radius:0px;
}

.ui-widget-header {
     border:0;
 -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
 -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
 box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    background:inherit;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header {
    background:inherit;
}
#guide_header {
    position: relative;
    float: left;
    margin-bottom: 2%;
    color: #fff;
    background-color: #333;
    padding: 10px 0;
    margin-top: 0;
    height: 25px;
    width: 100%;
    
    
}



#guide_nav {
    float: left;
    margin-left: 40px;
}

#subject_title {
    float: left;
    color: #333;
    margin-left:.5em;
}

#subject_title h2 {
    
    color: #fff;
    font-weight: 700;
    padding: 5px  5px;
    font-size: 1.5em;
    margin-top: 0;
}

#subject_title a {
    color: #fff;
}

#subject_title a:hover {
    color: #DD647F;
}

#guide_header ul {
    
}

.guide-nav-item {
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    
    
    margin-right:5px;
    
    display: inline-block;
    float: left;
    background-color: #333;
    font-weight:300;
    font-size:1.5em;
    cursor: pointer;
}

.box-item {
    list-style-type: none;
    padding: .5%;
    margin-right: .5%;
    max-width:200px;
    background-color: #333;
    cursor: pointer;
    font-size: 85%;
    color:#fff;
}


#hide_header {
    

}

#guide_header ul li:hover {
    background-color: #C03957;
}

#guide_header img {
    position: relative;
    top: 2px;
    
}

#guide_header ul li a{
    
    text-decoration: none;
    
}

#guide_header ul li a:hover{
    
    text-decoration: underline;
    
}

#subject_header {
    text-align:left;
    background-color: #333;
    width: 100%;
    border-bottom: 1px solid #DD647F;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height:22px;
    margin: 0;
    padding-top: 4px;
}

#subject_header a {
    color: #fff;
}

#subject_header a:hover {
    color: #DD647F;
}

img.togglecontent, img.toggletoken {cursor:pointer;}

img { padding-top: 0;}

#portal h2 {
    padding: 0;
    margin: 0;
    padding-top: 5px;
}


#container-0 {
    float: left;
    width: 15%;
    padding: 5px;
}

#container-0 h2 {
    font-size: 16px;
    margin: 1px;
    background-color: none;
    padding: 2px;
}

#container-0 h3 {
    font-size: 14px;
    margin: 1px;
}

#container-0 {
    float: left;
    padding: 10px;
    background-color: transparent;
}

#container-1 {
    float: left;
    width: 60%;
    padding: 10px;
    background-color: transparent;
}

#container-2 {
    float: left;
    width: 35%;
    padding: 10px;
    background-color: transparent;
}


/* Section with draggable boxes */

#all-results  {
    
    clear: both;
    padding: 0px 4px 4px 0px;
    font-size: .92em;
    background: rgba(51, 51, 51, .6);
    margin-top: 0;
}

#closer {
    float: left;
    margin: 0 10px;
    padding: 3px 5px 3px 5px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}



#all-results ul li {
    list-style-type: none;
    margin: 0px 10px 0 0px;
    display: block-inline;
    float: left;
    background-color: #fff;
    color: #333;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: hand;
    background-image: url(../images/icons/list-add.png);
    background-repeat: no-repeat;
    background-position: 3px 50%;
    padding: 3px 5px 3px 20px;
}

#box_options {
    position: absolute;
    
    
    margin-left: 1%;
    left:120px;
    top: 45px;
    
    list-style-type: none;
    
    display: inline-block;
    float: left;
    
    cursor: pointer;
    z-index: 1000 !important;
    width:100%;
}


#box_options li.box_note {
    border: 0px #fff !important;
    background-color: #fff !important;
    color: #333;
    font-size: 10px;
    cursor: text !important;
}

#box_options li.box_note:hover {
    border: none !important;
    background-color: #fff !important;
    color: #333;
    font-size: 10px;
}

#all-results2  {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 35px;
    background: #333;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 170px;
    border: 1px solid #111;
    z-index: 100;
    
}


/* guide.js, get_pluslets.php */

.draggable {
    
    
    cursor: move;
}


.dropspotty {
    position: relative;
    background-color: #F8F5F5;
    text-align: center;
    margin-bottom: 10px;
    z-index: 50;
    border: 1px dashed #ccc;
    
    padding: 0;
    height: 50px;
    
}

li.dropspotty {
	height: auto;
}

.drop-spot-box {
    font-size: 2em;
    margin-left: .2em;
    margin-top: .3em;
    margin-right: .2em;
    vertical-align:sub;
}


#dropspot-left-1, #dropspot-center-1, #dropspot-sidebar-1 {float: left; }

/* Moves the dropspot text down a smidgen (8 smidgens, to be precise) */

#dropspot-left-1 img, #dropspot-center-1 img, #dropspot-sidebar-1 img { margin-top: 8px; margin-left: 1em;}

/* When you hover over one of the two drop spots, make em show */
.drop_hover {background-color: #C03957; border: 1px solid #ccc;}

/* this might be used by the jquery ui plugin . . . */

.ui-sortable-placeholder {background-color: #F8F5F5; border: 1px dotted #CC6699; visibility: visible !important; height: 50px !important; }

.pluslet {
    position: relative;
    clear: both;
    background: #fff;
    margin-bottom: 10px;
    z-index: 50;
    
    padding: 2px;
    font-size: 10pt;
    
    min-height: 2.2em;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.pluslet img#sort
{
    cursor: move;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.titlebar {
    color: #333;
    position: relative;
    height: 2em;
    padding: 0px 0;
    margin: 0;
    top: 0px;
    right: 0px;
    background-color: #D1D8DF;
    width: 100%;
    border-bottom: 1px solid #B3B9BF;
    background-color: #efefef;
    background-color: #F6E3E7;
    background-color: #efefef;
    
    background-color: #e6e6e6;
    
}

div.titlebar input {
    background-color: #fff;
}

.titlebar_text {
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    color: #333;
    
}

.titlebar_options {
    float: right;
    padding: 4px 5px 0 0;
    cursor: pointer;
    font-size:1.2em;
}

.pluslet_body {
    position: relative;
    clear: both;
    padding-left: 5px;
    text-align: left;
    background-color: #fff;
}

div.type-heading {
    width: 70%;
    text-transform: uppercase;
}

/* The following is to stick a margin around objects inserted into pluslets, i.e., youtoobies */

.pluslet_body object {
    margin: 3px 5px 3px 3px;
}

.unsortable {
    cursor:default;
}

.resultsdiv { color: #fff; }

.togglebase {margin-top: 0;}

.sort_column {background-color: #F8F5F5;}
.portal_column {background-color: #F8F5F5;}
.ui-sortable {background-color: #F8F5F5;}

.staff_photo {
    position: relative;
    background: #efefef;
    padding: 3px;
    border: 1px solid #333;
    margin-right: 20px;
    margin-bottom: 10px;
}

.staff_photo2 {
    position: relative;
    float: left;
    background: #efefef;
    padding: 3px;
    border: 1px solid #333;
    margin: 0 10px 0 10px;
}

.smallgrey { color: #CCCCCC; font-size: 11px; text-shadow: none;}

.dropspot-text {position: relative;  font-size: 14pt; font-weight: bold; color: #ccc; margin-right: 1em;}

.borderless {border: none;}

.toc {
    float: left;
    width: 30%;
    margin: 0 1% 1em 1%;
}

/* Override for V 3, multiple layouts */

#portal-column-0, #portal-column-1, #portal-column-2, .portal-column-0, .portal-column-1, .portal-column-2   {
    width: 100%;
	background-color: transparent;
}

/* Layout dropdown in header */

.inner-nav-content {

position:absolute;
display:none;


}

#slider_options, #tabs_options {
    background-color: #FFFFFF;
    clear: left;
    list-style-type: none;
    margin: 0 10px 0 -12px !important;
    padding: 1%;
    position: absolute;
    top: 50px;
    width: 250px;
    z-index: 1000 !important;
    
    
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#slider_options p, #tabs_options p {
    color: #333;
    padding: .5em;
    font-size: smaller;
}

.slider_options_guide {
    display: none;
    width: 200px;
    padding: 1em;
    
}


#tabs {
    
    clear:both;
    position:
    relative;
    width: 96%;
    margin: 0 auto;
    top:35px;
}

#tab_options {
    
    display: none;
    width: 200px;
    padding: 1em;
}

#save_tab_options {
    display:none;clear: left;margin-top: 1em;font-size: smaller;
}

#tabs_options input {
    margin-bottom: 1em;
    width: 100px;
}

#tab_wrapper {
    margin-top: 0em;min-height: 600px;
}

#tab_header {
    
}

#tab_header ul {
    margin-left: 2em;
}

#tab_header ul li {
    list-style-type: none;
    padding: 0px 5px 1px 5px;
    margin: 0px 5px 0 5px;
    display: block-inline;
    float: left;
    background-color: #cccc99;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    cursor: pointer;
}

#tab_header ul li.active {
    background-color: orange;
}

#tab_header ul li a {
    text-decoration: none;
    color: #333;
}

.tabs {
    
    background: url("../images/grid.png") repeat scroll 0 0 #FFFFFF;
}

#tabs li .ui-icon-wrench { float: left; margin: 0.6em 0.2em 0 0; cursor: pointer; }



#save_layout {
    display:none;
    clear: left;
    margin-top: 1em;
    font-size: smaller;
    
}

#save_guide {
    display:none;
    
}

.recent-activity {
    clear: both;

}

.recent-activity-span {
    color: #666;
    font-size: 10px;
}

.recent-activity-link {
    color: #333;
}

.fa-star {
    
    margin:.2em;
}


.talkback {
float: right; 
width: 28%;
margin-left: 10px;
}

.pluslet-icon {
width:15px;
height:15px;
}

.titlebar_options {
height: 15px;
}

img.tooltip  {
width:15px;
}


.delete_item {
width:15px;
}




/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background: #333 url(../images/colorbox/overlay.png) 0 0 repeat;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/colorbox/controls.png) -100px 0 no-repeat;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/colorbox/controls.png) -129px 0 no-repeat;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/colorbox/controls.png) -100px -29px no-repeat;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/colorbox/controls.png) -129px -29px no-repeat;}
    #cboxMiddleLeft{width:21px; background:url(../images/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(../images/colorbox/controls.png) -75px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/colorbox/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/colorbox/loading_background.png) center center no-repeat;}
        #cboxLoadingGraphic{background:url(../images/colorbox/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/colorbox/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/colorbox/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}
