/* reset - blueprint mod */
* {
    padding: 0;
    margin: 0;
}



html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1.5;

}
/* Tables still need 'cellspacing="0"' in the markup. */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
table, td, th {
    vertical-align:top;
}

button {
    padding: 2px;

}
/* Remove annoying border on linked images. */
a img {
    border: none;
}
/* no's*/
.no-border {
    border: 0 !important
}
.no-margin {
    margin: 0 !important
}
.no-bg {
    background: none !important
}
.no-pad-left {
    padding-left: 0 !important
}
.no-pad-right {
    padding-right: 0 !important
}

/* Styles for the control panel /control/ */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: .9em;
    text-align: center;
    line-height: 1.5em;
    color: #000;
    background: #e3e1d9;

}

#wrap {

    min-width: 900px;
    min-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
html>body #wrap { min-width: 900px; }

a:link {
    color: #4977A4;
}

a:visited {
    color: #4977A4;
}
a:hover {
    color: #C03957;
}

/* Header and nav/subnav stuff */
#header {
    background: #232323;
    margin-top: 0;
    padding-top: 0;
    height: 45px;
    border-bottom: 4px solid #232323;
    border-top: 4px solid #232323;


}

#header a, #header a:link, #header a:visited {
    font-family: sans-serif;
    color:#EFEFEF;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    z-index: 100;
    font-weight:300;
    font-size:1.5em;
    white-space: nowrap;
}

#header a:hover, #header a.selected {
    color: #C03957;
    color: #DF6F89;


}


.zoom a {
    
    width: 100%;
}

.zoom img {
    
    margin: 0;
    padding: 0;
    margin-right: 5px;
    border: 3px solid #efefef;
    top: -5px;

}

#header li.zoom a {
    cursor: pointer;
    
}
.logo {
    margin-top: 8px;
    margin-left: 30px;

}

#navcats {
    float: left;
    margin-left: 10px;
    margin-top: 11px;
}

#navcats ul {

}


#navcats ul li  {
    list-style-type: none;
    padding: 0;
    display: block;
    float: left;
    text-align: center;

}


/* from soh tanaka: http://www.noupe.com/tutorial/drop-down-menu-jquery-css.html */

ul.topnav {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;



}
ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
    height: 35px;

}
ul.topnav li a{
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
    text-align: left;
    height: 30px;

}


ul.topnav li span { /*--Drop down trigger styles--*/
    width: 17px;
    height: 35px;
    float: left;
    /* background: url(../images/admin/click_me.png) no-repeat center top; */

}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 35px;
    background: #333;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 235px;
 
    z-index: 100;

}
ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    /* border-top: 1px solid #252525;
    border-bottom: 1px solid #444; */
    clear: both;
    width: 200px;

}
html ul.topnav li ul.subnav li a {
    float: left;
    width: 180px;
    background: #333;
    padding-left: 20px;margin-top: 5px;
}

html ul.topnav li ul.subnav li a:last {
    padding: 10px; background-color: red;
}

#supersearch {
    float: left;
    margin-top: 11px;
    margin-left: 20px;
}

#user {
    color: #fff;
    float: left;
    margin-left: 20px;
    margin-top: 11px;
}

#user ul li {
    list-style-type: none;
    padding: 0;
    display: block;
    float: left;
    text-align: center;

}


/* Main content areas */
.index-content {
    clear: both;float: left; margin-right: 1em; width: 600px
}

.greeting {
    float: left; margin-right: 1em;
    
}

.control-options {
    float: left;
}

.background-options {
    float: left; min-width: 300px;
}

#maincontent {
    clear: both;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2%;
}

#maincontent h2  {

    font-weight: 100;
    margin-bottom: 25px;
    margin-top: 5px;
    font-size: 1.5em;


}

#maincontent h3 {
    color: #333;
    font-weight: bold;
    font-size: 12pt;
    margin: 5px 0;
}

#maincontent ol, #maincontent ul, #maincontent ol, #portal-column-1 ul, #portal-column-2 ul, #portal-column-1 ol, #portal-column-2 ol  {
    padding-left: 2em;

}

.box {
    margin-bottom: 1em;
    background-color: #fff;
    color: #333;
    padding: 10px;
 
 -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
 -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
 box-shadow: 0 2px 1px rgba(0,0,0,0.08);

}


.no_overflow {
    overflow:auto;
}

div.striper img {
    position: relative;
    top: 3px;
}
#footer {
    margin-top: 20px;
    border-top: 1px solid #999;
    font-size: .8em;
    color: #ccc;
}

#footer a:link {
    color: #4977A4;
    text-decoration:none;
}
#footer a:visited {
    color: #4977A4;
    text-decoration:none;
}
#footer a:hover {
    color: #4977A4;
    text-decoration:underline;

}

table td {
    padding: .3em;
}

table.striped_data {
    background: #CFCFCF;
}

table td.odd {
    background: #F6E3E7; /* #e0e0e0 */
}

table td.even {

    background: #ffffff;

}

table td.subhead {
    background: #333;
    color: #fff;
}

.highlight {
    background-color: #DD647F;
    border-bottom: 1px solid #efefef;
}


.image_caption {
    font-size: 11px;
    color:#333333

}


.smaller {font-size: 12px;}

.error {color: red;}

.required {font-size: 12px; color: #C03957; font-style: italic;}

.no_results {
    padding-left: 15px;
    background: url(../images/icon/required.png) no-repeat top left;
    font-weight: 700;
}

/* Form stuff */

div.dropdown_list select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px;
}

div.dropdown_list option {
    position: relative;
    padding: 4px 2px 4px 8px;
    top: 3px;
    border-bottom: 1px solid #ccc;
}


.coloured_form_input {

    background-color: #EFE0E3;
    color: #102132;
    border: 1px solid #284279;
    padding: 2px 2px 2px 5px;
}

.coloured_form_textarea {

    background-color: #EFE0E3;
    color: #102132;
    border: 1px solid #284279;
    padding: 5px 2px 2px 5px;
}

.staff_photo {
    position: relative;
    background: #efefef;
    padding: 3px;
    border: 1px solid #333;
    margin-right: 20px;
}



.debugger {
    text-align: left;
    background: Yellow;
    font-size: 12px;
    margin: 15px;
    padding: 5px;
    border: 1px dashed #ccc;
    overflow:auto;
}

.new_editable {

    border-top: 1px solid #333;
    font-size: 9px;
    background-color: #EFD1D8;

}

.rec_floater {
    float: left;
    padding-top: 5px;
}

.odd_location {
    border-top: 1px solid #e0e0e0;
}

/* tables */
table.tablesorter {
    font-family: sans-serif;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 9pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 9pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(../images/admin/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/admin/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/admin/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

tr.hover {
    background-color: #000;
}


li.inactive {background-color: transparent;}

li.active {background-color: #EFD1D8;}

div.results {text-align:center;}

/* used only on guides/manage.php i think */
.striper {  margin: 3px 5px; }

table.striper th {
    font-weight: 700 !important;
    border-bottom: 1px solid #333;
}

table.striper td {

    border-bottom: 1px solid #efefef;
}

.oddrow {
    background-color: #f6e3e7;
    padding: 2px 5px;
}

.evenrow {
    padding: 2px 5px;
}

.prev_next_button {
    display: inline;
    padding: 4px 6px;
    border: 1px solid #999;
    background-color: #434343;
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
}

#record_notes a {
    color: #999;

}

#record_notes a:hover {
    color: #fff;

}

.confirmer {
    background-color: yellow;
    margin-left: 20px;
}

.confirmer a {

    text-decoration:underline;
    cursor: pointer;
}

/* For making a more desirable cursor on jquery pages */

.pointer {cursor: pointer;}

/* Used in guides/manage_items.php */

#res_content {position: relative; float: left; padding-top: 10px;}
#res_content .sortable { list-style-type: none; margin: 0; padding: 0;}
#res_content li { margin: 0 5px 5px 5px; padding: 5px; height: 1.5em; }
#res_content li:hover {cursor:move;}
html>body #res_content li { height: 1.5em; line-height: 1.2em; }
#res_content .ui-state-highlight { height: 1.5em; line-height: 1.2em; background-color: yellow; }
#res_content .confirmer a {cursor:pointer;}

/* Autocomplete Styles */

/* From the themeroller */
.ui-autocomplete { position: absolute; cursor: default; }

* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
    list-style:none;
    padding: 5px;
    margin: 0;
    display:block;
    float: left;

    border: 1px solid #ccc;

}

/* Form input */

div.box input {margin-right: 1em; }

div.autoC input.searchy{
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #F6E3E7;
    background-color: #efefef;
    background-image: url(../../assets/images/icons/search_box_bg.png);
    background-repeat:no-repeat;
    background-position: 3px 3px;
    padding: 2px 0 2px 20px;
}

div.autoC input:hover {
    background-color: #ccc;
}


.button {
    position: relative;
    margin-left: 1em;
   
    font-size: 100%;
    background-color: #C03957;
    color: whitesmoke;
    text-transform: none;
    border:none;
    margin-right: 1em;
    
    padding: .5em 1em .5em 1em;
    
   /* text-shadow: 0px 1px 3px #ccc;
}
/* Styling the markup generated by the autocomplete jQuery UI widget */


ul.ui-autocomplete{
    width:250px;
    background-color:#fff;
    border:1px solid #fff;
    outline:1px solid #ccc;

}

ul.ui-autocomplete li{
    list-style:none;
    border-bottom:1px solid #e0e0e0;
    border-top:1px solid #fff;
    text-align: left !important;
}

ul.ui-autocomplete li:first-child{
    border-top:none;
}


ul.ui-autocomplete li:last-child{
    border-bottom:none;
}

ul.ui-autocomplete li a{
    color:#333;
    border:none !important;
    text-decoration:none !important;
    padding:5px 10px;
    display:block;
}

#ui-active-menuitem{
    background-color:#F6E3E7;
    color:#666;
    cursor:pointer;
}

/* new records page */

.record_buttons {

}

.save_button {

    margin-left: 20px;
    padding: 0 .1em;
}

.delete_button {
    margin-left: 20px;
    padding: 0 .1em;

}

#last_edited {
    clear: both;
    margin-left: 20px;
    font-size: 10px;
}

#subject_list {
    position: relative;
    clear: both;
    margin-top: 1em;
    margin-left: 2px;


}

.selected_item_wrapper {
    clear: left;
    padding: 5px !important;
    margin-bottom: 10px !important;
}

.selected_item {

    float: left;
    min-width: 75%;
    border-bottom: 1px solid #efefef;

}

.selected_item_options {
    float: right;

}

#subject_list img{
    cursor: pointer;

}

.small_extra {
    font-size: 10px;
    color: #8f8f8f;
    font-style:italic
}

.call_num_box {
    display: none;
}

.checkurl_img_wrapper {
    display: inline-block;
    width: 20px;
    cursor:pointer;
}

.url_feedback {
    color: #C03957;
}

.record_label {
    float: left;
    clear: both;

    font-size: 11px;
    font-weight:900;
}

.add_location {
    clear: both;
    margin: 1em 0 1em 1em;
    cursor: pointer;

}

.delete_location {
    background-color: #fff;
    font-size: 10px;
    margin-top: 1em;
    text-align:center;
    cursor: pointer;
}

div.delete_location:hover {
    background-color: #FFCFCF;
}

.unclickable {
    opacity: 0.4;
    cursor: default !important;
}

div.ctag_list {
    padding: 10px 0 !important;
}

div.ctag_list a {
    text-decoration: none;
    color: #333;

}

div.ctag_list a:hover {
    text-decoration: none;
    color: #fff;

}

.ctag-on, .aztag-on, .lookup_button {
    background-color: #C03957;
    color: #fff;
    margin: 0 2px;
    padding: 1px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    line-height: 2em;
}

.lookup_button {
  background-color: #F37521;
}
.ctag-off, .aztag-off {
    background-color: #ccc;
    color: #333;
    margin: 0 2px;
    padding: 1px 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    line-height: 2em;
}

.ctag-on:hover, .ctag-off:hover, .aztag-on:hover, .aztag-off:hover {
    background-color: #333;
    color: #fff;
}

.ctag-on a {
  text-decoration: none;
  color: #fff;
}

.ctag-off a {
  text-decoration: none;
  color: #333;
}

.ctag-off a:hover {
  color: #fff;
}

.rec_delete_confirm {
    text-align: right;
    background-color: yellow;
    margin: 5px;
    padding:  2px 1em 2px 2px;

}

.rec_delete_confirm a {
    cursor: pointer;
    text-decoration:underline;
}


/* Form Feedback */

.feedback {
    position: relative;
    float: left;
    background-color: #DD647F;
    width: 100%;
    text-align: center;
    display: block;
    font-weight: bold;
    background: rgba(221, 100, 127, 1);
}

div.feedback a:link {
    color: #fff !important;
}

.box_feedback {
    position: relative;
    float: left;
    background-color: #DD647F;
    min-width: 500px;
    text-align: center;
    display: block;
    font-weight: bold;
    background: rgba(221, 100, 127, 1);
}

/* Sortables */


ul.sortable_list {
    list-style-type: none;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

ul.unsortable_list {
    display: inline;
    list-style-type: none;
}


ul.sortable_list li  {
    padding: 3px; margin: 4px;
    border: 1px solid #fff;
}

ul.sortable_list li:hover  {
    border: 1px solid #333;
    cursor: move;
}

/* Save Guide Button/Feedback */

#save_zone {
    margin: 1em 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;

    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

#feedback_zone {
    margin: 1em 0;
    background-color: #C03957;
    color: #fff;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;

    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

/* Guides -- Admin View */

.pluslet_body {
    padding: .5em;
    margin: .5em;
    overflow: auto;
}

.pluslet_body p {
    margin: .5em 0 ;
}

.leftcolheader {
    background-color: #CFDAE6;
    color: #000000;
    font-size: 1em;
    font-weight: 700;
    padding: 2px;
    text-align: center;
}

.filter {
    background-color: #ccc;
    color: #333;
    margin: 0 2px;
    padding: .5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #efefef;
}

.filter_ticks {
    background-color: #F6E3E7;
    color: #333;
    margin: 0 2px;
    padding: .5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #efefef;
    cursor:pointer;
}

.debug { background-color: yellow; padding: 1em;}

.hideme { display: none; }

/* All Items by Source */

.dbresults {
    clear:both;
    padding: 7px 0;
    border-bottom: 1px solid #dfdfdf;
}

/* Talkback */

.toggle_unanswered, .toggle_answered {
    text-decoration: underline;
    color: #4977A4;
    cursor: pointer;
}

.toggle_unanswered:hover, .toggle_answered:hover {
    color: #C03957;
}

.tb_highlight {
  background-color: yellow;
  border: 1px dashed #333;
}
/* Splash page */

.faux_link {
    text-decoration: underline;
}

.smallgrey { color: #CCCCCC; font-size: 11px; text-shadow: none;}

/* Contacts */

td.colhead {font-weight: bold; background-color: #ccc;}

table.contact_table td {
  border-bottom: 1px solid #efefef;
}

table.contact_table tr:hover {
  background-color: #DF6F89;
}

/* Tooltip CSS */
img.tooltip {
	cursor: pointer;
}

div.tooltip
{
	min-width: 150px;
	max-width: 300px;
	min-height: 100px;
	max-height: 300px;
	position: absolute;
	background-color: #F6E3E7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
	padding: .5em;
	border: 1px dashed #e0e0e0;

}

div.tooltip div
{
	text-align: left;
	padding: 5px;

	overflow: auto;
}


/* guides/index.php */

#savour {
    clear: both;float:left; margin-top: 5px; height: 30px; width: 100%;
    
}

#response {
    position: relative; float: left; background-color: #DD647F; width: 100%; text-align:center; display: none;
    margin-top:25px;
}

.clone {
    z-index: 10;
}

.edit-your-guides {
    float: left;  width: 50%;
    
}

.all-guides {
    float: right; width: 45%;margin-left: 10px;
}

.all-guides-dropdown {
    margin: 1em 0;
}

.create {
    clear: right; float: right; width: 45%;margin-left: 10px;
    
}

.tips {
    
    clear: right; float: right; width: 45%;margin-left: 10px;
}

/* guides/manage.php */

.manage-your-uploads {
clear: both;float: left; min-width: 600px;
}

#test-url {
    
    background-color: yellow;
    
}

.manage-all-items {
    float: left; width: 600px;
}

/* delish_url.php */

.generate-delicious {
    float: left; width: 500px
}

.huh {
    
    float: left; width: 400px; margin-left: 2em;
}

/* records/index.php */

.ctag-list-box {
    
float: left; min-width: 700px;max-width: 75%;
}

.new-record {
   float: left; margin-left: 20px;
    
}

.record-results {
    clear: both; float: left; width: 98%; padding: 3px 5px;
    
}

.record-label {
    
    color: #333;
}

.record-source-override {
    
    display: block; clear: both; margin-left: 5px; color: red;
}


.desc-area {
    display: none; clear: both;
}

/* control/search.php */

.search-results {
    float: left;  width: 50%;
    
}

/* control/update.php */
.update-main {
    max-width: 800px; margin-right: auto; margin-left: auto;
}


#add {
    display:none;
}

.bullet {
height:55px;
width:55px;
}



