/* reset - blueprint mod */
* {
  padding: 0;
  margin: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1.5;

}
/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
table, td, th {
  vertical-align:top;
}

button {
  padding: 2px;

}
/* Remove annoying border on linked images. */
a img {
  border: none;
}
/* no's*/
.no-border {
  border: 0 !important
}
.no-margin {
  margin: 0 !important
}
.no-bg {
  background: none !important
}
.no-pad-left {
  padding-left: 0 !important
}
.no-pad-right {
  padding-right: 0 !important
}

/* Styles for the control panel /control/ */

body {
  background: #e3e1d9 url(../images/background.jpg) no-repeat center top;
  color: #000;
  font-family: "Helevtica Neue", "Helvetica", Arial, Verdana, sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  text-align: center;

}

#wrap {

  margin-left: auto;
  margin-right: auto;
  min-width: 550px;
  min-width: 900px;
  text-align: left;
}

/*
html>body #wrap 
{ 
min-width: 900px; 
}
*/


a:link {
  color: #4977A4;
}

a:visited {
  color: #4977A4;
}
a:hover {
  color: #C03957;
}

/* Header and nav/subnav stuff */
#header {
  background: #232323;
  background: url(../images/admin/nav_bg.gif) repeat-x;
  border-bottom: 4px solid #333;
  border-top: 4px solid #333;
  height: 45px;
  margin-top: 0;
  padding-top: 0;

}

#header a, #header a:link, #header a:visited {
  font: 14px/1.5 Arial,Helvetica,sans-serif;
  color: #ccc;
  text-decoration: none;
  display: block;
  padding: 0 10px;
  z-index: 100;

}

#header a:hover, #header a.selected {
  color: #C03957;
  color: #DF6F89;


}

#header li.zoom a {
  cursor: pointer;
}
.logo {
  margin-top: 8px;
  margin-left: 30px;

}

#navcats {
  float: left;
  margin-left: 10px;
  margin-top: 11px;
}


#navcats ul li  {
  display: block;
  float: left;
  list-style-type: none;
  padding: 0;
  text-align: center;

}


/* from soh tanaka: http://www.noupe.com/tutorial/drop-down-menu-jquery-css.html */

.topnav {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  float: left;



}
.topnav li {
  float: left;
  margin: 0;
  padding: 0 15px 0 0;
  position: relative; /*--Declare X and Y axis base for sub navigation--*/
  height: 35px;

}
.topnav li a{
  padding: 10px 5px;
  color: #fff;
  display: block;
  text-decoration: none;
  float: left;
  text-align: left;
  height: 30px;

}


.topnav li span { 
  float: left;
  height: 35px;
  width: 17px;

}
.subhover {
  background-position: center bottom; 
  cursor: pointer;

} /*--Hover effect for trigger--*/

.subnav {
  background: #333;
  border: 1px solid #111;
  display: none;
  float: left;
  left: 0; top: 35px;
  list-style: none;
  margin: 0; padding: 0;
  position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
  width: 200px;
  z-index: 100;

}
.subnav li{
  border-bottom: 1px solid #444; /*--Create bevel effect--*/
  border-top: 1px solid #252525; /*--Create bevel effect--*/
  clear: both;
  margin: 0; padding: 0;
  width: 200px;

}
.subnav li a {
  background: #333;
  float: left;
  padding-left: 20px;margin-top: 5px;
  width: 180px;
}

.subnav li a:last {
  padding: 10px; 
  background-color: red;
}

#supersearch {
  float: left;
  margin-top: 11px;
  margin-left: 20px;
}

#user {
  color: #fff;
  float: left;
  margin-left: 20px;
  margin-top: 11px;
}

#user ul li {
  display: block;
  float: left;
  list-style-type: none;
  padding: 0;
  text-align: center;

}


/* Main content areas */


#maincontent {
  clear: both;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

#maincontent h2  {

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #efefef;
  border-radius: 5px;
  border: 1px solid #999;
  color: #333;
  font-size: 12pt;
  font-weight: 700;
  margin: 5px 0;
  padding: 4px 4px 4px 10px;

}

#maincontent h3 {
  color: #333;
  font-size: 12pt;
  font-weight: bold;
  margin: 5px 0;
}

#maincontent ol, #maincontent ul, #maincontent ol, #portal-column-1 ul, #portal-column-2 ul, #portal-column-1 ol, #portal-column-2 ol  {
  padding-left: 2em;

}

.box {
  -moz-border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 5px 5px 5px #ccc;
  color: #333;
  margin-bottom: 1em;
  padding: 10px;

}

.no_overflow {
  overflow:auto;
}

.striper img {
  position: relative;
  top: 3px;
}
#footer {
  border-top: 1px solid #999;
  color: #ccc;
  font-size: .8em;
  margin-top: 20px;
}

#footer a:link {
  color: #4977A4;
  text-decoration:none;
}
#footer a:visited {
  color: #4977A4;
  text-decoration:none;
}
#footer a:hover {
  color: #4977A4;
  text-decoration:underline;

}

table td {
  padding: .3em;
}

table.striped_data {
  background: #CFCFCF;
}

table td.odd {
  background: #F6E3E7; /* #e0e0e0 */
}

table td.even {

  background: #ffffff;

}

table td.subhead {
  background: #333;
  color: #fff;
}

.highlight {
  background-color: #DD647F;
  border-bottom: 1px solid #efefef;
}


.image_caption {
  font-size: 11px;
  color:#333333

}


.smaller {font-size: 12px;}

.error {color: red;}

.required {font-size: 12px; color: #C03957; font-style: italic;}

.no_results {
  background: url(../images/icon/required.png) no-repeat top left;
  font-weight: 700;
  padding-left: 15px;
}

/* Form stuff */

.dropdown_list select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px;
}

.dropdown_list option {
  position: relative;
  padding: 4px 2px 4px 8px;
  top: 3px;
  border-bottom: 1px solid #ccc;
}


.coloured_form_input {

  background-color: #EFE0E3;
  color: #102132;
  border: 1px solid #284279;
  padding: 2px 2px 2px 5px;
}

.coloured_form_textarea {

  background-color: #EFE0E3;
  color: #102132;
  border: 1px solid #284279;
  padding: 5px 2px 2px 5px;
}

.staff_photo {
  position: relative;
  background: #efefef;
  padding: 3px;
  border: 1px solid #333;
  margin-right: 20px;
}



.debugger {
  text-align: left;
  background: Yellow;
  font-size: 12px;
  margin: 15px;
  padding: 5px;
  border: 1px dashed #ccc;
  overflow:auto;
}

.new_editable {

  border-top: 1px solid #333;
  font-size: 9px;
  background-color: #EFD1D8;

}

.rec_floater {
  float: left;
  padding-top: 5px;
}

.odd_location {
  border-top: 1px solid #e0e0e0;
}

/* tables */
table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 9pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 9pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(../images/admin/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../images/admin/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../images/admin/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #8dbdd8;
}

tr.hover {
  background-color: #000;
}


li.inactive {background-color: transparent;}

li.active {background-color: #EFD1D8;}

div.results {text-align:center;}

/* used only on guides/manage.php i think */
.striper {  margin: 3px 5px; }

table.striper th {
  font-weight: 700 !important;
  border-bottom: 1px solid #333;
}

table.striper td {

  border-bottom: 1px solid #efefef;
}

.oddrow {
  background-color: #f6e3e7;
  padding: 2px 5px;
}

.evenrow {
  padding: 2px 5px;
}

.prev_next_button {
  display: inline;
  padding: 4px 6px;
  border: 1px solid #999;
  background-color: #434343;
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
}

#record_notes a {
  color: #999;

}

#record_notes a:hover {
  color: #fff;

}

.confirmer {
  background-color: yellow;
  margin-left: 20px;
}

.confirmer a {

  text-decoration:underline;
  cursor: pointer;
}

/* For making a more desirable cursor on jquery pages */

.pointer {cursor: pointer;}

/* Used in guides/manage_items.php */

#res_content {
  position: relative; 
  float: left; 
  padding-top: 10px;
}
#res_content .sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}
#res_content li { 
  margin: 0 5px 5px 5px; 
  padding: 5px; 
  height: 1.5em; 
}
#res_content li:hover {
  cursor:move;
}
html>body #res_content li { 
  height: 1.5em; 
  line-height: 1.2em; 
}
#res_content .ui-state-highlight { 
  height: 1.5em; 
  line-height: 1.2em; 
  background-color: yellow; 
}
#res_content .confirmer a {
  cursor:pointer;
}

/* Autocomplete Styles */

/* From the themeroller */
.ui-autocomplete { 
  position: absolute; 
  cursor: default; 
}

* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
  list-style:none;
  padding: 5px;
  margin: 0;
  display:block;
  float: left;

  border: 1px solid #ccc;

}

/* Form input */

.box input {margin-right: 1em; }

.autoC input.searchy{
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;
  background-color: #F6E3E7;
  background-color: #efefef;
  background-image: url(../images/icons/search_box_bg.png);
  background-repeat:no-repeat;
  background-position: 3px 3px;
  padding: 2px 0 2px 20px;
}

.autoC input:hover {
  background-color: #ccc;
}
#topsearch_button {
  position: relative;
  margin-left: 0;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 12px;
  background-color: #eee;
  color: #333;
  text-transform: none;
  border-left: none;
  margin-right: 1em;
  padding: 2px 2px 2px 2px;
  text-shadow: 0px 1px 3px #ccc;
}
/* Styling the markup generated by the autocomplete jQuery UI widget */


.ui-autocomplete{
  width:250px;
  background-color:#fff;
  border:1px solid #fff;
  outline:1px solid #ccc;

}

.ui-autocomplete li{
  list-style:none;
  border-bottom:1px solid #e0e0e0;
  border-top:1px solid #fff;
  text-align: left !important;
}

.ui-autocomplete li:first-child{
  border-top:none;
}


.ui-autocomplete li:last-child{
  border-bottom:none;
}

.ui-autocomplete li a{
  color:#333;
  border:none !important;
  text-decoration:none !important;
  padding:5px 10px;
  display:block;
}

#ui-active-menuitem{
  background-color:#F6E3E7;
  color:#666;
  cursor:pointer;
}

/* new records page */

.record_buttons {

}

.save_button {

  margin-left: 20px;
  padding: 0 .1em;
}

.delete_button {
  margin-left: 20px;
  padding: 0 .1em;

}

#last_edited {
  clear: both;
  margin-left: 20px;
  font-size: 10px;
}

#subject_list {
  position: relative;
  clear: both;
  margin-top: 1em;
  margin-left: 2px;


}

.selected_item_wrapper {
  clear: left;
  padding: 5px !important;
  margin-bottom: 10px !important;
}

.selected_item {

  float: left;
  min-width: 75%;
  border-bottom: 1px solid #efefef;

}

.selected_item_options {
  float: right;

}

#subject_list img{
  cursor: pointer;

}

.small_extra {
  font-size: 10px;
  color: #8f8f8f;
  font-style:italic
}

.call_num_box {
  display: none;
}

.checkurl_img_wrapper {
  display: inline-block;
  width: 20px;
  cursor:pointer;
}

.url_feedback {
  color: #C03957;
}

.record_label {
  float: left;
  clear: both;

  font-size: 11px;
  font-weight:900;
}

.add_location {
  clear: both;
  margin: 1em 0 1em 1em;
  cursor: pointer;

}

.delete_location {
  background-color: #fff;
  font-size: 10px;
  margin-top: 1em;
  text-align:center;
  cursor: pointer;
}

div.delete_location:hover {
  background-color: #FFCFCF;
}

.unclickable {
  opacity: 0.4;
  cursor: default !important;
}

div.ctag_list {
  padding: 10px 0 !important;
}

div.ctag_list a {
  text-decoration: none;
  color: #333;

}

div.ctag_list a:hover {
  text-decoration: none;
  color: #fff;

}

.ctag-on, .aztag-on, .lookup_button {
  background-color: #C03957;
  color: #fff;
  margin: 0 2px;
  padding: 1px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  line-height: 2em;
}

.lookup_button {
  background-color: #F37521;
}
.ctag-off, .aztag-off {
  background-color: #ccc;
  color: #333;
  margin: 0 2px;
  padding: 1px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  line-height: 2em;
}

.ctag-on:hover, .ctag-off:hover, .aztag-on:hover, .aztag-off:hover {
  background-color: #333;
  color: #fff;
}

.ctag-on a {
  text-decoration: none;
  color: #fff;
}

.ctag-off a {
  text-decoration: none;
  color: #333;
}

.ctag-off a:hover {
  color: #fff;
}

.rec_delete_confirm {
  background-color: yellow;
  margin: 5px;
  padding:  2px 1em 2px 2px;
  text-align: right;

}

.rec_delete_confirm a {
  cursor: pointer;
  text-decoration:underline;
}


/* Form Feedback */

.feedback {
  background-color: #DD647F;
  background: rgba(221, 100, 127, 1);
  display: block;
  float: left;
  font-weight: bold;
  position: relative;
  text-align: center;
  width: 100%;
}

.feedback a:link {
  color: #fff !important;
}

.box_feedback {
  position: relative;
  float: left;
  background-color: #DD647F;
  min-width: 500px;
  text-align: center;
  display: block;
  font-weight: bold;
  background: rgba(221, 100, 127, 1);
}

/* Sortables */


.sortable_list {
  list-style-type: none;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.unsortable_list {
  display: inline;
  list-style-type: none;
}


.sortable_list li  {
  padding: 3px; margin: 4px;
  border: 1px solid #fff;
}

.sortable_list li:hover  {
  border: 1px solid #333;
  cursor: move;
}

/* Save Guide Button/Feedback */

#save_zone {
  margin: 1em 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;

  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

#feedback_zone {
  margin: 1em 0;
  background-color: #C03957;
  color: #fff;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;

  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

/* Guides -- Admin View */

.pluslet_body {
  padding: .5em;
  margin: .5em;
  overflow: auto;
}

.pluslet_body p {
  margin: .5em 0 ;
}

.leftcolheader {
  background-color: #CFDAE6;
  color: #000000;
  font-size: 1em;
  font-weight: 700;
  padding: 2px;
  text-align: center;
}

.filter {
  background-color: #ccc;
  color: #333;
  margin: 0 2px;
  padding: .5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #efefef;
}

.filter_ticks {
  background-color: #F6E3E7;
  color: #333;
  margin: 0 2px;
  padding: .5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #efefef;
  cursor:pointer;
}

.debug { background-color: yellow; padding: 1em;}

.hideme { display: none; }

/* All Items by Source */

.dbresults {
  clear:both;
  padding: 7px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* Talkback */

.toggle_unanswered, .toggle_answered {
  text-decoration: underline;
  color: #4977A4;
  cursor: pointer;
}

.toggle_unanswered:hover, .toggle_answered:hover {
  color: #C03957;
}

.tb_highlight {
  background-color: yellow;
  border: 1px dashed #333;
}
/* Splash page */

.faux_link {
  text-decoration: underline;
}

.smallgrey { color: #CCCCCC; font-size: 11px; text-shadow: none;}

/* Contacts */

.colhead {font-weight: bold; background-color: #ccc;}

.contact_table td {
  border-bottom: 1px solid #efefef;
}

.contact_table tr:hover {
  background-color: #DF6F89;
}

/* Tooltip CSS */
img .tooltip {
  cursor: pointer;
}

.tooltip
{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #F6E3E7;
  border-radius: 10px;
  border: 1px dashed #e0e0e0;
  box-shadow: 5px 5px 5px #888888;
  max-height: 300px;
  max-width: 300px;
  min-height: 100px;
  min-width: 150px;
  padding: .5em;
  position: absolute;

}

.tooltip div
{

  overflow: auto;
  padding: 5px;
  text-align: left;
}



.staff-list-inactive {
color: #666;
font-size:smaller; 

}

.staff-list-row {
clear: both; 
float: left; 
min-width: 500px;
}


.staff-list-active-row {
float: left; 
font-size: smaller;
min-width: 100px; 

}

.staff-priority {
float: left;
margin-left: 10px;
}

.staff-list-link {
float: left; min-width: 75px;font-size: smaller;
}

.staff-clear {
clear:both;

}

.department-sortable {
margin-bottom: .5em;
}

.department-save {
clear: both;
float:left;
}

.department-box {
clear: both;
float: left; 
min-width: 500px;

}

.add-department {
float: left; 
margin-left: 1em;
}


.disc-sortable {
margin-bottom: .5em;
}

.disc-box {
clear: both; 
float: left; 
max-width: 600px;
min-width: 500px; 
}

.add-disc {

float: left;
margin-left: 1em;

}

.should-not-be-here {

background-color: red;
color: white;

}

.guide-status {
background-color: #F6E3E7;
}


.tick-zone {
display: none;
padding: 1em 10px;
}

.listing-space {
 border-top: 1px solid #efefef;
}

.faq-item-value {
margin-bottom: 1em;

}

.tick-wrap {
height: 100px;
}

.tick-wrap-wrap {
padding:1em 10px;


}

.admin-headshot-box-wrap {
clear: both;
float: left;
 margin-right: 1em; 
width: 600px
}

.admin-headshot-box {
float: left; 
margin-right: 1em;
}

.admin-background-options {

float: left; 
min-width: 300px

}

.nav-logo {
float:left;

}

.records-results {
clear: both; 
float: left; 
width: 98%; 
padding: 3px 5px;
}
.records-toc {

float: left; 
min-width: 700px;
max-width: 75%;
}


.records-new {
float: left; 
margin-left: 20px;
}
