/* 
    Document   : flocking
    Created on : 13-Mar-2011, 1:26:39 PM
    Author     : Doktor Fun
    Description:
        Purpose of the stylesheet follows.
*/

body {background: url(../images/admin/bg_tile.gif) repeat;}

