<div class="card">
    <div class="card-image">
        {{ pluslet.body | lazy_loading | raw }}
        <div class="card-title-wrap">
            <span class="card-title">{{ pluslet.title }}</span>
        </div>
    </div>
</div>