<div class="subject-specialists">
    {% if pluslet.extra is not null and pluslet.extra is not empty %}
        {% set section = pluslet.section %}
        {% set tab = section.tab %}
        {% set subject = tab.subject %}
        
        {% for staff in subject.staff %}
            {% set showName = pluslet.extra[staff.staffId]['showName']|default(false) %}
            {% set showEmail = pluslet.extra[staff.staffId]['showEmail']|default(false) %}
            {% set showPhone = pluslet.extra[staff.staffId]['showPhone']|default(false) %}
            {% set showPhoto = pluslet.extra[staff.staffId]['showPhoto']|default(false) %}
            {% set showTitle = pluslet.extra[staff.staffId]['showTitle']|default(false) %}
            {% set showTwitter = pluslet.extra[staff.staffId]['showTwitter']|default(false) %}
            {% set showFacebook = pluslet.extra[staff.staffId]['showFacebook']|default(false) %}
            {% set showInstagram = pluslet.extra[staff.staffId]['showInstagram']|default(false) %}
            {% set showPinterest = pluslet.extra[staff.staffId]['showPinterest']|default(false) %}

            <div class="specialists-info">
                {% if showName %}
                    <h4>{{ staff.fname ~ ' ' ~ staff.lname }}</h4>
                {% endif %}
                <ul class="staff-details">
                    {% if showTitle %}
                        <li>{{ staff.title | raw }}</li>
                    {% endif %}
                    
                    {% if showEmail %}
                        <li>{{ staff.email }}</li>
                    {% endif %}
                    
                    {% if showPhone %}
                        <li>{{ staff.tel }}</li>
                    {% endif %} 
                </ul>
            </div>
        {% endfor %}
    {% endif %}
</div>