<div class="container">
    <div class="row py-4">
        <div class="col-8">
            {% if metaAuthor is defined %}
                <p class="fs-sm mb-0">{{ metaAuthor }}</p>
            {% endif %}
        </div>
        <div class="col-4 text-end">
            <p class="fs-sm mb-0">&copy;{{ 'now' | date('Y') }}</p>
        </div>
    </div>
</div>