{# TODO: Add print functionality for single tab and all tabs. Add print styles for guide and tabs. #}
<div class="text-end mb-n3">
	<a class="link-icon" type="button" title="Print">
		<i class="fas fa-print"></i>
	</a>
</div>