<footer class="mt-auto">
    <div class="container text-center">
        <p class="fs-xs">&copy;{{ 'now' | date('Y') }} Powered by SubjectsPlus</p>
    </div>
    <section class="footer-content">

    </section>
</footer>