// Add styles/overrides for UM theme only
[data-theme="um"] {
   //general
   body {
      @media screen and (min-width: 992px){
         font-size: 1.125rem;
      }
   }

   h1,h2,h3,h4,h5{
      &.fw-light {
         font-weight:600 !important;
      }
   }

   h1{
      position: relative;
      &::after{
         content:'';
         position: absolute;
         bottom:0;
         background-color: var(--THEME-UI-ACTIVE-COLOR);
         height:.25rem;
         width: 2.5rem;
         display: block;
         left: calc(50% - 1.25rem);
         margin-bottom: -5px;
      }
   }

   .fs-sm {
      font-size: 1rem !important;
   }

   .fs-xs {
      font-size: 0.875rem !important;
   }

   // sliver
   .slivernav {
      background-color: #000000;
      position: fixed;
      width: 100%;
      z-index: 2;
      color: #FFFFFF;
      @media screen and (min-width: 992px){
         position: initial;
      }

      .sliverbutton {
         background-color: #636466;
         border-color: #636466;
         border-radius: 0;
         width: 40px;
         color: #FFFFFF;
         height: 22px;
         line-height: 1;

         &:not(.collapsed){
            background-image: url('https://cdn.miami.edu/_assets-common/images/system/btn-over-15.png');
            background-repeat: repeat;
            background-position: 0 0;
            .fa-plus {
               &::before {
                  content:"\f068";
               }
            }
         }

         &:focus{ box-shadow: none; }
      }

      a {
         color: #FFFFFF;

         &:hover,
         &:active {
            color: rgba(255,255,255, 0.8);
         }
      }

      .umsearchbutton,
      .umsearchfield {
         background-color: rgba(255,255,255,0.25);
         border: solid 3px rgba(255,255,255,0.5);
         font-size: .875rem;
         line-height: 1;
      }

      .umsearchfield {
         padding: 0.25rem 0.75rem;
         width: calc(100% - 40px);
         color: #FFFFFF;

         &::placeholder { color: #FFFFFF; }

         &:focus { background-color: rgba(255,255,255,0.9); color: #333333;
            &::placeholder { color: #333333; }
         }
      }

      .umsearchbutton {
         color: #FFFFFF;
         padding: 0.375rem 0.5rem;
         border-radius: 0;
         vertical-align: baseline;

         &:focus{ box-shadow: none; }
      }

      .apply-btn {
         text-transform: uppercase;
         border: solid 3px #fff;
         background-color: #005030;
         color: #FFFFFF;
         border-radius: 0;
         padding: 0.125rem 0.5rem;

         &:hover,
         &:focus {
            background-image: url('https://cdn.miami.edu/_assets-common/images/system/btn-over-15.png');
            background-repeat: repeat;
            background-position: 0 0;
         }
      }

      .sliver-accessibility,
      .sliver-content{
         &.show {

         }




      }

   }

   //Navbar
   .site-navbar-slim {
      margin-top: 22px;
      position: fixed;
      width: 100%;
      z-index: 2;

      @media screen and (min-width: 992px){
         position: initial;
         margin-top:0;
      }

      .um-toggler {
         position: relative;
         width: 100%;

         .navbar-toggler{
            position: absolute;
            top: 0;
            right: 1rem;
            margin-top: -1rem;
            border-radius: 50%;
            padding: 0.25rem;
            background-color: #ff9f55;
            color: #FFFFFF;
            z-index:1045;
            box-shadow: none;
            width: 40px;
            height: 40px;
            font-size:1.65rem;
         }

         .close-icon{
            display: none;
         }
      }

      .offcanvas.show + .um-toggler .fa-bars{
         display:none;
      }
      .offcanvas.show + .um-toggler .close-icon{
         display:inline-block;
      }




   }




   //guides
   .sp-guide-tabs.nav-pills .nav-item{
      font-size: 1rem;
   }

   //


} // end data-theme