// Alerts
.alert {
  padding: 0.5rem 1rem;
}
.alert-info {
  color: #055160;
  background-color: rgba(var(--sp-accent-color-rgb), 10%);
  border-color: var(--sp-accent-color);
}

[data-mode="dark"] {
  .alert-info {
    background-color: rgba(var(--sp-accent-color-rgb), 5%);
    color: var(--sp-input-selected-text);
  }
}