html,
body {
  height:100%;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: initial !important;
  background-color: var(--sp-bg-color);
  color: var(--sp-font-color);
}

a {
  color: var(--sp-nav-color);
  &:hover,
  &:active,
  &:focus {
    @include transition-all();
    color: var(--sp-nav-color);
  }

  &.link-default {
    color: var(--sp-font-color);
    &:hover,
    &:active,
    &:focus {
      @include transition-all();
      color: var(--sp-nav-color);
    }
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--sp-heading-color);
  font-weight: $font-weight-semi;
}

h1, .h1 {
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 1.75rem;
  }
}

h2, .h2 {
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 1.5rem;
  }
}

h3, .h3 {
  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 1.375rem;
  }
}

.fw-semi {
  font-weight: $font-weight-semi;
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-xs {
  font-size: $font-size-mini;
}

// Forms
.form-control,
.form-check-input,
.btn,
.btn-check,
.btn-close {
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--sp-focus-box-shadow-color), 20%);
  }
}

.form-check-input:checked {
  background-color: var(--sp-nav-color);
  border-color: var(--sp-nav-color);
}

// Alerts
.alert {
  padding: 0.5rem 1rem;
}
.alert-info {
  color: #055160;
  background-color: rgba(var(--sp-accent-color-rgb), 10%);
  border-color: var(--sp-accent-color);
}

// Backgrounds
.bg-light {
  background-color: var(--sp-bg-color-alt) !important;
  color: var(--sp-font-color);

  a{
    color: var(--sp-font-color);
    &:hover,
    &:active,
    &:focus {
      @include transition-all();
      color: var(--sp-nav-color);
    }
  }
}

[data-mode="default"] {
  .btn-close{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b0248f'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
}

[data-mode="dark"] {
  .btn-close{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c054a0'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
}

// Dropdowns
.basic-dropdown{
  .dropdown-menu {
    border: 1px solid var(--sp-border-color);
    background-color: var(--sp-bg-color-alt);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.20);
  }

  .dropdown-item {
    color: var(--sp-font-color);
    &:hover,
    &:focus {
      @include transition-all();
      background-color: var(--sp-nav-color);
      color:$white !important;
    }
  }

  .dropdown-toggle{
    &:after {
      display: none;
    }
  }
}

.action-dropdown{
  .dropdown-menu {
    border: 1px solid var(--sp-border-color);
    background-color: var(--sp-bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.20);
    border-radius: $border-radius-pill;
    &.show {
      display: flex;
    }
  }

  .dropdown-item {
    color: var(--sp-font-color);
    &:hover,
    &:focus {
      @include transition-all();
      background-color: transparent;
      color: var(--sp-nav-color) !important;
    }
  }

  .dropdown-toggle{
    &:after {
      display: none;
    }
  }

  .dropdown-divider{
    border-top:0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    height:50%;
  }
}

.action-dropdown-expand{
  display: inline-block;
  position: relative;
  border-radius: $border-radius-pill;
  border: 1px solid var(--sp-nav-color);
  background-color: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.20);

  .action-dropdown-title{
    position: absolute;
    top: 0;
    left: 1.5rem;
    background: linear-gradient(180deg, var(--sp-bg-color) 8px, $white 0);
    margin-top: -0.5rem;
    padding: 0 0.5rem;
    line-height: 1;
    font-weight: normal;
    font-size: $font-size-sm;
    color: var(--sp-nav-color);
  }

  ul {
    li {
      padding: .5rem 0 .375rem 0;
      a {
        color: var(--sp-input-color);
        &:hover,
        &:focus,
        &:active {
          color: var(--sp-nav-color);
          background-color: transparent;
        }
      }
    }
  }

  .dropdown-divider{
    border-top:0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    height:50%;
    background-color: var(--sp-input-border-color);
  }
}

[data-mode="dark"] {
  .action-dropdown-expand{
    .action-dropdown-title{
      background: transparent;
      margin-top: 0.25rem;
    }

    ul{
      margin-top:.25rem;
    }
  }
}


// Admin only menu items
[data-mode="default"] {
  .admin-menu-item {
    color: #277D82;
    &:hover,
    &:focus,
    &:active {
    color: darken(#277D82, 8%) !important;
    }
  }
}

[data-mode="dark"] {
  .admin-menu-item {
    color: var(--sp-accent-color);
    &:hover,
    &:focus,
    &:active {
      color: lighten(#3fc2c6, 10%) !important;
    }
  }
}

// Modals
.modal-title {
  color: var(--sp-input-color);
}


// Panels
.panel-basic {
  background-color: var(--sp-bg-color-alt);
  padding: $padding-sm;
}

// Lists with Images
.list-img-75 {
  .list-content {
    width: calc(100% - 100px);
    margin-left: .75rem;
    align-self: center;
    line-height: 1.2;
  }
  .list-img {
    width: 75px;
  }
}

.list-space {
  li {
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom:0;
    }
  }
}

// Tabs
.nav-tabs {
  .nav-link {
    color: var(--sp-font-color);

    &:hover,
    &:focus {
      @include transition-all();
      color: var(--sp-nav-color);
    }

    &.active {
      &:hover,
      &:focus {
        color: var(--sp-input-selected-text);
      }
    }
  }
}