.login-landing {
  margin: auto;
  background-color: var(--sp-bg-color-alt);
  padding: $padding-sm;
  border-radius: $border-radius;
  box-shadow: 3px 3px 11px -5px rgba(0, 0, 0, 35%);

  img {
    width: 300px;
  }
}