.sp-media-uploads-list {
  .media-item {
    margin: 0 1rem 1.5rem 0;

    a {
      display: inline-block;
    }
    img {
      max-height: 100px;
      padding: .25rem;
      background-color: transparent;
      border-radius: $border-radius-sm;
      border: 1px solid var(--sp-border-color);
      margin-bottom: .25rem;
    }

    .media-item-title {
      max-width: 150px;
    }
  }
}