// Tabs
.nav-tabs {
  .nav-link {
    color: var(--sp-font-color);

    &:hover,
    &:focus {
      @include transition-all();
      color: var(--sp-nav-color);
    }

    &.active {
      &:hover,
      &:focus {
        color: var(--sp-input-selected-text);
      }
      i {
        color: #FFFFFF;
      }
    }
  }
}

.tab-settings-icon {
  display: inline-block;
  margin-left: 0.5rem;
  cursor: pointer;
}

#guide-tabs-tab-new-tab{
  cursor: pointer;
}