{% extends 'base.html.twig' %}

{% block title %}Guide{% endblock %}


{% block body %}
<h2>{{ title }}</h2>
<ul class="nav nav-pills">
    {{ include('public/guide/tabs/tabs.html.twig') }}
</ul>
<div class="tab-content">
  {% for tab in tabs %}
    <div class="tab-pane {% if loop.first %} show active {% endif %}" id="{{ tab.id}}" role="tabpanel">
      {% for section in tab.sections %}
        <div class="row">
          {% for column_number, column_contents in section.columns %}
          <div class="{{ column_class(section.layout, column_number) }}">
            {% for pluslet in column_contents.pluslets %}
              {% include('public/guide/pluslets/pluslet.html.twig') %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>


{% endblock %}