<form method="post" action="{{ path('backend_location_delete', {'locationId': location.locationId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.locationId) }}">
    <button class="btn">Delete</button>
</form>
