{% extends 'backend/base.html.twig' %}

{% block browser_title %}New Config Option{% endblock %}

{% block content %}
    <a href="{{ path('config_index', {'id': 8}) }}" class="fs-xs"><i class="fas fa-arrow-alt-circle-left"></i> Back to Config Setup</a>
    <h1 class="fw-light">New Config Option</h1>

    {{ include('backend/config/_form.html.twig', {'button_label': 'Save'}) }}
{% endblock %}