{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('frontend-main') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('frontend-main') }}
{% endblock %}

{% block main %}
<p>Theme layout goes here</p>
{% endblock %}