<li class="nav-item dropdown mx-xl-2">
    <a class="nav-link dropdown-toggle" href="#" id="mediaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{'control.header.media' | trans}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="mediaDropdown">
        <li><a class="dropdown-item" href="/control/media/upload">{{ 'control.header.media.upload' | trans }}</a></li>
    </ul>
</li>