<li class="nav-item dropdown mx-xl-2">
    <a class="nav-link dropdown-toggle" href="#" id="recordsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{'control.header.records' | trans}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="recordsDropdown">
        <li><a class="dropdown-item" href="/control/records/record.php">{{ 'control.header.records.new_record' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/records">{{ 'control.header.records.browse_items' | trans }}</a></li>
        <li><a class="dropdown-item" href="/control/records/subject_databases.php">{{ 'control.header.records.databases_by_subject' | trans }}</a></li>
    </ul>
</li>