<form method="post" action="{{ path('department_delete', {'departmentId': department.departmentId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.departmentId) }}">
    <button class="btn">Delete</button>
</form>
