{% extends 'backend/base.html.twig' %}

{% block browser_title %}New Department{% endblock %}

{% block content %}
    <h1>Create new Department</h1>

    {{ include('backend/department/_form.html.twig') }}

    <a href="{{ path('department_index') }}">back to list</a>
{% endblock %}
