<div class="section section-half">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2">
                <!-- Search Area -->
                <div class="default-search">
                    <div class="index-search-area">
                            
                        <div id="autoC" class="autoC">
                            <form action="/subjects/search.php" method="post" class="form-floating " id="sp_admin_search">
                                 <label for="my-autocomplete">{{ 'Find guides' | trans }}</label>
                                 <div id="my-autocomplete-container"></div>
                                <input type="submit" value="Go"  class="btn btn-primary" id="topsearch_button" name="submitsearch" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
