{% extends 'backend/base.html.twig' %}

{% block title %}Browse Records{% endblock %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Browse Records</h1>

{% endblock %}


