{% extends 'backend/base.html.twig' %}

{% block title %}Record index{% endblock %}

{% block content %}
<div class="container">
    <h1>Record index</h1>
<a href="{{ path('backend_record_new') }}">Create new</a>
<ul>
        {% for record in records %}
            {% include 'backend/record/_record_list_item.html.twig' %}
        {% else %}

                <li >no records found</li>

        {% endfor %}
</ul>

    </div>
{% endblock %}
