{% extends 'base.html.twig' %}

{% block title %}
{% block metatitle %}SubjectsPlus{% endblock %}
    {% if getconfig('meta_author') %}
        | {{ getconfig('meta_author') }}
    {% endif %}
{% endblock %}

{% block theming %}
    {% include('frontend/includes/user_theme_values.html.twig') %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('frontend_main') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('frontend_main') }}
{% endblock %}

{% block body %}
<main>
    {% block navmenu %}
        {% include('frontend/includes/navigation-switcher.html.twig') %}
    {% endblock %}
    {% block header %}
        <div class="page-header">
            <div class="container py-4">
                {% block header_actions %}{% endblock %}
                {% block header_backto %}{% endblock %}
                <h1 class="text-center fw-light">{% block header_title %}{% endblock %}</h1>
                <div class="header-content">{% block header_content %}{% endblock %}</div>
            </div>
        </div>
    {% endblock %}
    {% block search %}{% endblock %}
    <div class="container">
        {% block main %}
            <p>Content goes here:
                <a href="#" class="link-underline">Link with underline</a> | <a href="#" class="link-default">Link default</a>
            </p>
        {% endblock %}
    </div>
</main>
{% endblock %}

{% block footer %}
    {% include('frontend/includes/footer.html.twig') %}
{% endblock %}