{% extends 'base.html.twig' %}

{% block theming %}
    {% include('frontend/includes/user_theme_values.html.twig') %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('frontend_main') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('frontend_main') }}
{% endblock %}

{% block body %}
<main>
    {% block header %}
        <p>Header here</p>
    {% endblock %}
    {% block search %}
        <p>Search here</p>
    {% endblock %}
    {% block main %}
        <p>Content goes here</p>
    {% endblock %}
</main>
{% endblock %}

{% block footer %}
    <p>Footer here</p>
{% endblock %}