<!DOCTYPE html>
{% block html_open_tag %}
    <html lang="{{ app.request.locale }}">
{% endblock %}
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>{% block title %}Welcome to SubjectsPlus!{% endblock %}</title>
            {% block metatags %}{% endblock %}
            {% block theming %}{% endblock %}
            {% block stylesheets %}{% endblock %}
            {% block javascripts %}{% endblock %}
        {% endblock %}
        <script>
            const APP_LOCALE = '{{ app.request.getLocale() }}';
        </script>
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "cggekn8yof");
        </script>
    </head>
    <body class="d-flex flex-column">
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>