<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <title>{% block title %}Welcome to SubjectsPlus!{% endblock %}</title>
            {% block theming %}{% endblock %}
            {% block stylesheets %}{% endblock %}
            {% block javascripts %}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>