// SCSS for SP light mode
.color {
  width: calc(100% - 1rem);
  border-radius: .25rem;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
