{% extends 'backend/base.html.twig' %}

{% block browser_title %}New Staff{% endblock %}

{% block content %}
    <h1>Create new Staff</h1>

    {{ include('backend/staff/_form.html.twig') }}

    <a href="{{ path('staff_index') }}">back to list</a>
{% endblock %}
