{% extends 'frontend/base.html.twig' %}

{% block metatitle %}
    {{ 'public.subjects.title.label' | trans }}
{% endblock %}

{% block header_title %}
    {{ 'public.subjects.title.label' | trans }}
{% endblock %}

{% block search %}
    {# TODO: Add search UI for guides #}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-8">
            {% include('frontend/includes/_guides_listing_tabs.html.twig') %}
        </div>

        <div class="col-lg-4">
        {% if getconfig('display_experts') == 'true' %}
            <p>show experts</p>
        {% endif %}

        {% if getconfig('display_new_databases') == 'true' or getconfig('display_new_guides') == 'true' %}
            <p>show new databases and/or new guides </p>
        {% endif %}
        </div>
    </div>
{% endblock %}