{% extends 'frontend/base.html.twig' %}

{% block metatitle %}
    {{ 'public.subjects.title.label' | trans }}
{% endblock %}

{% block header_title %}
    {{ 'public.subjects.title.label' | trans }}
{% endblock %}

{% block search %}
    {# TODO: Add search UI for guides #}
{% endblock %}

{% block main %}
    <ul class="list-unstyled">
    {% for subject in subjects %}
    <li><a href="{{ path('subject_show', {'shortform':  subject.shortform  } ) }}">{{ subject.subject | raw }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}