{% extends 'frontend/base.html.twig' %}

{% block metatitle %}Research Guides{% endblock %}

{% block main %}

<h1>All Subjects</h1>

<ul class="list-unstyled">
{% for subject in subjects %}
<li><a href="{{ path('subject_show', {'shortform':  subject.shortform  } ) }}">{{subject.subject }}</a></li>
{% endfor %}
</ul>


{% endblock %}
