{% extends 'frontend/base.html.twig' %}

{% block metatitle %}Guide{% endblock %}

{% block main %}
<span class="visually-hidden">{{ 'subjectId: ' ~ subject.subjectId }}</span>
{# Subject Title #}
<p>Subject: {{ subject.subject }}</p>

{# Subject Tabs #}
{{ include('frontend/subjects/_tabs.html.twig') }}

{% endblock %}