.sp-navbar-toggler {
  &.navbar-toggler {
    border: 2px solid var(--sp-secondary-color);
    padding: 0.125rem 0.5rem;

    &:focus{
      box-shadow: 0 0 0 0.25rem rgba(var(--sp-primary-color-rgb), 20%);
    }
  }

  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28176, 36, 143, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.dropdown-toggle{
  &:after {
    color: var(--sp-secondary-color);
  }
}

.dropdown-menu {
  border: 1px solid transparent;
  padding: 0;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0;
  }
}

.dropdown-item {
  &:hover,
  &:focus {
    background-color: transparent;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    &:hover,
    &:focus {
      @include transition-all();
      background-color: var(--sp-secondary-color);
      color:$white !important;
    }
  }
}

.user-nav-dropdown {
  font-size: 1.5rem;
  line-height: 1;
  i {
    color: var(--sp-secondary-color);
  }

  &:hover,
  &:focus {
    i {
      @include transition-all();
      color: var(--sp-primary-color);
    }
  }

  &:after {
    display: none;
  }
}
