<div class="dropdown basic-dropdown">
    <button class="btn btn-gradient btn-pill-icon dropdown-toggle" type="button" id="dropdownAddTokens" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-plus-circle"></i> Add
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownAddTokens">
        <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasRecordToken" role="button" aria-controls="offcanvasRecordToken">Record Token</a></li>
        <li><a class="dropdown-item" href="#">{{ 'control.dashboard.create_new_record' | trans }}</a></li>
    </ul>
</div>
