<div class="dropdown action-dropdown">
    <button class="btn btn-gradient btn-pill-icon dropdown-toggle" type="button" id="dropdownAddTokens" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-plus-circle"></i> {{ 'control.custom_tokens_menu.add_button' | trans }}
    </button>
    <ul class="dropdown-menu mt-1" aria-labelledby="dropdownAddTokens">
        <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasRecordToken" role="button" aria-controls="offcanvasRecordToken">{{ 'control.custom_tokens_menu.add_record_token' | trans }}</a></li>
        <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasMediaToken" role="button" aria-controls="offcanvasMediaToken">{{ 'control.custom_tokens_menu.add_media_token' | trans }}</a></li>
    </ul>
</div>
