<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSearchAll" aria-labelledby="offcanvasSearchAllLabel">
    <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasSearchAllLabel">Search all</h3>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'close.aria.label' | trans }}"></button>
    </div>
    <div class="offcanvas-body text-center py-0">
        {# TODO: Search all as a working React component #}

            <form>
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="{{ 'control.header.search.placeholder' | trans }}" aria-label="{{ 'control.header.search.aria.label' | trans }}" aria-describedby="search-button">
                    <button class="btn btn-gradient" type="submit" id="search-button">{{ 'control.header.search.button' | trans }}</button>
                </div>
            </form>

    </div>
</div>