/*Document   : booklist.css
Created on : September 2016
Author     : pvillanueva
Description: stylesheet for new books feed (Primo/Alma)
*/


/* New Books List Styling - Primo */

#new_books_container {background-color: #FFF; padding: 10px 10px 10px 0;}

#new_books_container .item {
  display:inline-block; 
  width: calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
  padding: 0 0 15px 10px; 
  margin: 0 0 15px 0;   
  vertical-align: top;
}

#new_books_container div:last-of-type {border-bottom: none;}

#new_books_container .item-info {list-style-type:none; margin:0; padding:0; padding: 0 10px 0 0; text-align: center;}

#new_books_container .item-info img {
  float: none;
    padding: 0;
    width: 150px;
}

#new_books_container li {
    margin-left: 0;
    line-height: 1.2em;
    margin-bottom: 8px;
    text-align: left;
}

#new_books_container .item-title{ font-size:1em; font-weight: bold; margin-top: 8px;}
#new_books_container .item-author:before {content: "Author:"; padding-right:5px; font-weight:bold;}
#new_books_container .item-description:before {content: "Location:"; padding-right:5px; font-weight:bold;}
#new_books_container .item-language:before {content: "Language:"; padding-right:5px; font-weight:bold;}
#new_books_container .item-format:before {content: "Format:"; padding-right:5px; font-weight:bold;}
#new_books_container .item-type:before {content: "Type:"; padding-right:5px; font-weight:bold;}
#new_books_container .item-pubdate{}
#new_books_container .item-arrivaldate:before {content: "Date Added:"; padding-right:5px; font-weight:bold;}

/* //////////////////
//  Media Queries 
////////////////// */
/*for 480px */
@media screen and (min-width: 480px) {

#new_books_container .item-info {text-align: left;}



#new_books_container .item-info img {
  float: left;
    padding: 0 30px 0 0;
    width: 150px;
}

#new_books_container li {
    margin-left: 180px;
    line-height: 1.2em;
    margin-bottom: 8px;
}

#new_books_container .item-title{ margin-top: 0;}

}

/* ≥ 568px  .pure-u-sm-* */
@media screen and (min-width: 35.5em) {



}

/* ≥ 768px  .pure-u-md-* */
@media screen and (min-width: 48em) {}

/* ≥ 1024px     .pure-u-lg-* */
@media screen and (min-width: 64em) {

#new_books_container .item-info {text-align: left;}

#new_books_container .item {
  display:inline-block; 
  width: calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: -webkit-calc(50% - 20px);
  padding: 0 0 15px 10px; 
  margin: 0 0 15px 0;   
  vertical-align: top;
}

}