<div class="row g-2">
    <div class="col-md-5 col-lg-6 col-xl-4">
        {# TODO: React autocomplete search with filters #}
        <form>
            <div class="mb-1 mb-md-0">
                <input type="text" class="form-control" placeholder="{{ 'control.faqs.search.placeholder' | trans }}" aria-label="{{ 'control.header.search.aria.label' | trans }}">
            </div>
        </form>
    </div>
    <div class="col-md-7 col-lg-6 col-xl-4 align-self-lg-center">
        {# TODO: multi-select filters with react-select #}
        <div class="d-flex flex-row flex-nowrap justify-content-between align-items-baseline">
            <select class="form-select d-inline-block" style="width: calc(100% - 250px);" aria-label="{{ 'control.faqs.filter.collection.aria' | trans }}">
                <option selected>{{ 'control.faqs.filter.collection' | trans }}</option>
                <option value="1">Research</option>
                <option value="2">Catalog Help</option>
                <option value="3">Popular</option>
            </select>
            {# TODO: Change between User's FAQs and All FAQs #}
            <div class="btn-group btn-group-sm" role="group" aria-label="Toggle for My FAQs and All FAQs">
                <input type="radio" class="btn-check" name="FAQToggle" id="myFAQs" autocomplete="off">
                <label class="btn btn-outline-primary fs-xs" for="myFAQs">My FAQs</label>

                <input type="radio" class="btn-check" name="FAQToggle" id="allFAQs" autocomplete="off" checked>
                <label class="btn btn-outline-primary fs-xs" for="allFAQs">All FAQs</label>
            </div>
        </div>
    </div>
</div>