<div class="btn-group btn-group-sm" role="group" aria-label="FAQ Table Sorting">
    <input type="radio" class="btn-check" name="faqSortTableBtn" id="faqSortNewest" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="faqSortNewest" title="{{ 'control.faqs.table.sort.latest' | trans }}"><i class="fas fa-calendar-alt"></i></label>

    <input type="radio" class="btn-check" name="faqSortTableBtn" id="faqSortAZ" autocomplete="off">
    <label class="btn btn-outline-primary" for="faqSortAZ" title="{{ 'control.faqs.table.sort.az' | trans }}"><i class="fas fa-sort-alpha-down"></i></label>

    <input type="radio" class="btn-check" name="faqSortTableBtn" id="faqSortZA" autocomplete="off">
    <label class="btn btn-outline-primary" for="faqSortZA" title="{{ 'control.faqs.table.sort.za' | trans }}"><i class="fas fa-sort-alpha-down-alt"></i></label>
</div>