{% extends 'backend/base.html.twig' %}

{% block title %}New FAQ{% endblock %}

{% block content %}

    <h1>Create new FAQ</h1>

    {{ include('backend/media/sidebar.html.twig') }}
    {{ include('backend/records/sidebar.html.twig') }}
    {{ include('backend/faq/_form.html.twig') }}

    <a href="{{ path('faq_index') }}">back to list</a>
{% endblock %}
