{% extends 'frontend/base.html.twig' %}

{% block title_tag %}
    Staff
{% endblock %}

{% block header_title %}
    Staff
{% endblock %}

{% block search %}
    {# TODO: Add search UI for staff #}
{% endblock %}

{% block main %}
<h1>Staff Default Theme</h1>
{% endblock %}
