<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /sp4/sp4bugs-pv/api/
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$l [L]
</IfModule>
